# 제로베이스 데이터 사이언스 스쿨 3기 SQL 과제 2
- 유가 데이터 분석

### 8문제 총 100점

- 1번 5점
- 2번 5점
- 3번 10점
- 4번 30점
- 5번 10점
- 6번 10점
- 7번 15점
- 8번 15점

### 1 ~ 8번 모두 본 노트북 파일에 답안 작성해서 제출해주세요 :)

---

문제 1.

주유소 데이터를 저장할 테이블을 다음의 구조로 생성하세요. (PDF 파일 참고)

In [1]:
from mysql.connector import connect

conn = connect(
	host = "database-1.cjyesy60ukq4.us-east-2.rds.amazonaws.com",
	port = 3306,
	user = "oneday",
	password = "1234",
	database = "oneday"
)
cursor = conn.cursor(buffered=True)

In [2]:
query = """
CREATE TABLE gas_brand (
	id int NOT NULL AUTO_INCREMENT PRIMARY KEY,
	name varchar(16)
);
"""
cursor.execute(query)

In [3]:
# 풀이 : 모두 NOT NULL 붙여주기

query = """
CREATE TABLE gas_station(
	id int NOT NULL AUTO_INCREMENT PRIMARY KEY,
	brand int,
	name varchar(64),
	city char(2),
	gu varchar(10),
	address varchar(128),
	gasoline int,
	diesel int,
	self boolean,
	car_wash boolean,
	charging_station boolean,
	car_maintenance boolean,
	convenience_store boolean,
	24_hours boolean,
	lat decimal(16,14),
	lng decimal(17,14),
	FOREIGN KEY (brand) REFERENCES gas_brand(id)
);
"""
cursor.execute(query)

문제 2.

Python 코드로 GAS_BRAND 데이터를 다음과 같이 입력하고 확인하세요. (PDF 파일 참고)

In [4]:
query = "INSERT INTO gas_brand VALUES (%s, %s)"
cursor.execute(query, (1, "SK에너지"))
cursor.execute(query, (2, "현대오일뱅크"))
cursor.execute(query, (3, "GS칼텍스"))
cursor.execute(query, (4, "S-OIL"))
cursor.execute(query, (5, "알뜰주유소"))
cursor.execute(query, (6, "자가상표"))
conn.commit()

In [ ]:
# 풀이

query = "INSERT INTO gas_brand (name) VALUES ('SK에너지'), ('현대오일뱅크'), ('GS칼텍스'), ('S-OIL'), ('알뜰주유소'), ('자가상표')"

cursor.execute(query)
conn.commit()

제출 1.
- Table 생성 결과 : Desc GAS_BRAND; Desc GAS_STATION;

In [5]:
import pandas as pd

cursor.execute("DESC gas_brand;")
result = cursor.fetchall()
df = pd.DataFrame(result)
df.columns = cursor.column_names
df

  Field         Type Null  Key Default           Extra
0    id          int   NO  PRI    None  auto_increment
1  name  varchar(16)  YES         None

In [6]:
cursor.execute("DESC gas_station")
result = cursor.fetchall()
df = pd.DataFrame(result)
df.columns = cursor.column_names
df

                Field            Type Null  Key Default           Extra
0                  id             int   NO  PRI    None  auto_increment
1               brand             int  YES  MUL    None
2                name     varchar(64)  YES         None
3                city         char(2)  YES         None
4                  gu     varchar(10)  YES         None
5             address    varchar(128)  YES         None
6            gasoline             int  YES         None
7              diesel             int  YES         None
8                self      tinyint(1)  YES         None
9            car_wash      tinyint(1)  YES         None
10   charging_station      tinyint(1)  YES         None
11    car_maintenance      tinyint(1)  YES         None
12  convenience_store      tinyint(1)  YES         None
13           24_hours      tinyint(1)  YES         None
14                lat  decimal(16,14)  YES         None
15                lng  decimal(17,14)  YES         None

제출 2.
- GAS_BRAND 조회 결과 : SELECT * FROM GAS_BRAND;

In [7]:
cursor.execute("SELECT * FROM gas_brand")
result = cursor.fetchall()
df = pd.DataFrame(dict(zip(cursor.column_names, list(map(list, zip(*result))))))
df

   id    name
0   1   SK에너지
1   2  현대오일뱅크
2   3   GS칼텍스
3   4   S-OIL
4   5   알뜰주유소
5   6    자가상표

문제 3.

다음의 함수와 그 함수를 테스트하는 코드를 작성하세요. (PDF 파일 참고)

- 화폐단위 문자형을 입력받아 숫자형으로 반환하는 함수 (테스트 입력 : ‘1,000’)
- 주유소 브랜드를 입력하면 GAS_BRAND 데이터를 참고하여 ID 를 반환하는 함수 (테스트 입력 : ‘SK에너지’)
- 주소를 입력받아 구 이름을 반환하는 함수 (테스트 입력 : ‘서울시 강남구 헌릉로 730’)
- 주소를 입력받아 위도, 경도를 반환하는 함수 (테스트 입력 : ‘서울시 강남구 헌릉로 730’)

제출 3.
- 각 함수 및 테스트 코드와 실행결과

In [8]:
def rm_munit(price):
    return int(price.replace(",", ""))

rlt = rm_munit("1,000")
print(rlt, type(rlt))

1000 <class 'int'>

In [9]:
def get_brand_id(brand):
    if brand == "HD현대오일뱅크":
        brand = "현대오일뱅크"
    elif brand == "알뜰(ex)":
        brand = "알뜰주유소"
    
    query = "SELECT id FROM gas_brand WHERE name=%s"
    cursor.execute(query, (brand,))
    result = cursor.fetchone()
    if result:
        return result[0]
    else:
        return -1

rlt = get_brand_id("SK에너지")
print(rlt, type(rlt))

1 <class 'int'>

In [ ]:
# 풀이 ⭐

dict_cursor = conn.cursor(dictionary=True) #--> 커서의 리턴값을 dict형으로 만들어 준다.

dict_cursor("SELECT * FROM gas_station")
gas_brand = dict_cursor.fetchall() #--> gas_brand는 dict형이다.


def getBrandID(brandName):
    if brandName == "알뜰(ex)":
        brandName = "알뜰주유소"
    
    for item in gas_brand:
        if item['name'] == brandName:
            return item['id']
        return -1

# dict_cursor.close()

In [10]:
def get_gu(address):
    return address.split()[1]

get_gu('서울시 강남구 헌릉로 730')

'강남구'

In [11]:
import googlemaps as gm

gm_api_key = "AIzaSyA4sdzAgIcBUWnWQ6Widv8Pwhzf9XFj2Ss"
gmaps = gm.Client(key=gm_api_key)

def get_lat_lng(address):
    gm_info = gmaps.geocode(address, language="ko")
    # print(gm_info)
    
    if len(gm_info):
        lat = gm_info[0].get("geometry")["location"]["lat"]
        lng = gm_info[0].get("geometry")["location"]["lng"]
    else:
        lat = None
        lng = None
    
    return lat, lng

get_lat_lng('서울시 강남구 헌릉로 730')

(37.4665675, 127.1190803)

문제 4.

Python 코드에서 주유소 페이지에서 데이터를 가져올때, GAS_STATION 테이블에 바로 입력하도록 수정하세요. (앞서 생 성한 함수활용)
- 주의. city 는 ‘서울’ 로 고정, 부가정보 데이터 타입
- 입력된 데이터의 총 갯수를 쿼리하여 결과를 확인합니다.
- 입력된 데이터 상위 10개를 쿼리하여 결과를 확인합니다.


제출 4.
- 주유소 데이터 관련 코드 (ipynb)

In [12]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By

chromedriver_path = "./chromedriver-win64/chromedriver.exe"
service = Service(executable_path=chromedriver_path)
options = webdriver.ChromeOptions()

driver = webdriver.Chrome(options=options, service=service)

opinet_url = "https://www.opinet.co.kr/searRgSelect.do"
driver.get(opinet_url)

In [13]:
# 부가 정보 4가지 체크 선택

add_info_list = driver.find_element(
	By.CSS_SELECTOR,
	"#searrgVO > div.search_gis > div > div.search_form > dl > dd:nth-child(10) > ul"
).find_elements(By.TAG_NAME, "input")

for add_info in add_info_list:
    print(add_info.get_attribute("id"))
    add_info.click()

CWSH_YN
MAINT_YN
CVS_YN
SEL24_YN

In [14]:
# 서울 선택

driver.find_element(By.CSS_SELECTOR, "#SIDO_NM0").send_keys("서울")

In [17]:
from bs4 import BeautifulSoup
import time

# 서울시 전체 주유소 데이터 가져오기

query = "INSERT INTO gas_station VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"

id = 1
for select_num in range(2, 27):
    # 구 선택
    driver.find_element(By.CSS_SELECTOR, f"#SIGUNGU_NM0 > option:nth-child({select_num})").click()
    print(driver.find_element(By.CSS_SELECTOR, "#totCnt").text)
    
    # 구별 주유소 리스트
    search_list = driver.find_elements(By.CSS_SELECTOR, "#body1 > tr > td.rlist")
    
    for station in search_list:
        try:
            station.find_element(By.CSS_SELECTOR, "span.ic.ico_self")
            SELF = True
        except:
            SELF = False
        finally:
            station.find_element(By.CSS_SELECTOR, "a").click()
            time.sleep(2)
            
            html = driver.page_source
            soup = BeautifulSoup(html, "html.parser")
            
            name = soup.select_one("#os_nm").text
            addr = soup.select_one("#rd_addr").text
            gu = get_gu(addr)
            lat, lng = get_lat_lng(addr)
            brand = soup.select_one("#poll_div_nm").text
            brand_id = get_brand_id(brand)
            gasoline = rm_munit(soup.select_one("#b027_p").text)
            diesel = rm_munit(soup.select_one("#d047_p").text)
            CWSH = True if soup.find(id="cwsh_yn").get("src").find("off") < 0 else False
            LPG = True if soup.find(id="lpg_yn").get("src").find("off") < 0 else False
            MAINT = True if soup.find(id="maint_yn").get("src").find("off") < 0 else False
            CVS = True if soup.find(id="cvs_yn").get("src").find("off") < 0 else False
            SEL24 = True if soup.find(id="sel24_yn").get("src").find("off") < 0 else False
            
            data = (id, brand_id, name, "서울", gu, addr, gasoline, diesel, SELF, CWSH, LPG, MAINT, CVS, SEL24, lat, lng)
            cursor.execute(query, data)
            conn.commit()
            print(f"{id} --> ", brand, data)
            id += 1
    print('-'*35)

31
1 -->  SK에너지 (1, 1, '(주)보성 세곡주유소', '서울', '강남구', '서울 강남구  헌릉로 731 (세곡동)', 1603, 1504, True, True, False, False, False, False, 37.4671565, 127.1187081)
2 -->  HD현대오일뱅크 (2, 2, 'HD현대오일뱅크㈜직영 산성셀프주유소', '서울', '강남구', '서울 강남구 헌릉로 730', 1619, 1525, True, True, False, False, False, False, 37.4665675, 127.1190803)
3 -->  GS칼텍스 (3, 3, '방죽주유소', '서울', '강남구', '서울 강남구 밤고개로 215 (율현동)', 1637, 1559, True, True, False, False, False, False, 37.4749926, 127.1068866)
4 -->  SK에너지 (4, 1, '자곡셀프주유소', '서울', '강남구', '서울 강남구 밤고개로 120 (자곡동)', 1658, 1579, True, True, False, False, False, False, 37.4834002, 127.1040458)
5 -->  HD현대오일뱅크 (5, 2, 'HD현대오일뱅크㈜직영 도곡셀프주유소', '서울', '강남구', '서울 강남구  남부순환로 2718 (도곡2동)', 1669, 1579, True, True, False, True, False, False, 37.4854623, 127.0432181)
6 -->  SK에너지 (6, 1, '오일프러스 셀프', '서울', '강남구', '서울 강남구 남부순환로 2651 (도곡동)', 1675, 1595, True, True, False, True, False, True, 37.485839, 127.0396721)
7 -->  S-OIL (7, 4, '극동유화㈜ 개나리주유소', '서울', '강남구', '서울 강남구 언주로 423 (역삼동)', 1675, 1585, True, True, False, True, False, True, 37.5000776, 127.0385419)
8 -->  HD현대오일뱅크 (8, 2, 'HD현대오일뱅크㈜직영 유진주유소', '서울', '강남구', '서울 강남구 논현로 152 (도곡동)', 1679, 1594, False, True, False, True, False, False, 37.4874316, 127.0399976)
9 -->  SK에너지 (9, 1, '대교셀프주유소', '서울', '강남구', '서울 강남구 강남대로 640 (신사동)', 1680, 1650, True, False, False, False, False, True, 37.5281292, 127.0355537)
10 -->  HD현대오일뱅크 (10, 2, '삼성동주유소', '서울', '강남구', '서울 강남구 테헤란로 619 (삼성동)', 1715, 1615, True, True, False, False, False, False, 37.5098576, 127.0651101)
11 -->  SK에너지 (11, 1, '(주)중앙에너비스 수서지점', '서울', '강남구', '서울 강남구 광평로 202 (수서동)', 1717, 1617, True, True, False, False, False, False, 37.4841053, 127.0950401)
12 -->  SK에너지 (12, 1, 'SK서광주유소', '서울', '강남구', '서울 강남구 역삼로 142', 1735, 1615, True, True, False, True, False, True, 37.4943424, 127.0350915)
13 -->  S-OIL (13, 4, '(주)선진도곡주유소', '서울', '강남구', '서울 강남구 도곡로 162 (도곡동)', 1739, 1635, False, True, False, True, False, False, 37.4878254, 127.0466876)
14 -->  GS칼텍스 (14, 3, '지에스칼텍스㈜에너지플러스허브GS타워', '서울', '강남구', '서울 강남구 논현로 516 (역삼동)', 1739, 1699, True, False, False, True, False, True, 37.50270829999999, 127.0363956)
15 -->  SK에너지 (15, 1, 'SK에너지㈜ 진달래주유소', '서울', '강남구', '서울 강남구 도곡로 208', 1739, 1645, False, True, False, False, False, False, 37.492295, 127.0418598)
16 -->  SK에너지 (16, 1, '대동석유 압구정주유소', '서울', '강남구', '서울 강남구 언주로 842 (신사동)', 1767, 1697, True, True, False, False, False, True, 37.5253431, 127.0338242)
17 -->  SK에너지 (17, 1, '(유)동하석유 힐탑셀프주유소', '서울', '강남구', '서울 강남구 논현로 640', 1767, 1697, True, True, False, False, False, True, 37.5106887, 127.0325689)
18 -->  GS칼텍스 (18, 3, '세진에너지(주) 개포주유소', '서울', '강남구', '서울 강남구 양재대로 339', 1898, 1798, True, True, False, False, False, False, 37.4722409, 127.0515134)
19 -->  GS칼텍스 (19, 3, '지에스칼텍스㈜ 삼성로주유소', '서울', '강남구', '서울 강남구 삼성로 563 (삼성동)', 1909, 1744, True, True, False, False, False, True, 37.51397499999999, 127.0561274)
20 -->  HD현대오일뱅크 (20, 2, 'HD현대오일뱅크㈜직영 신사현대주유소', '서울', '강남구', '서울 강남구 도산대로 163 (신사동)', 1928, 1874, False, True, False, False, False, False, 37.5195205, 127.0263171)
21 -->  GS칼텍스 (21, 3, '지에스칼텍스㈜ 은마주유소', '서울', '강남구', '서울 강남구 영동대로 235', 1929, 1879, False, True, False, True, False, True, 37.5000721, 127.0672848)
22 -->  GS칼텍스 (22, 3, '대성석유(주)동호주유소', '서울', '강남구', '서울 강남구 봉은사로113길 51', 1969, 1862, False, True, False, False, False, False, 37.518486, 127.0646655)
23 -->  GS칼텍스 (23, 3, '지에스칼텍스(주)학여울주유소', '서울', '강남구', '서울 강남구 남부순환로 3170 (일원2동)', 2039, 1965, False, True, False, False, False, False, 37.4946762, 127.0778305)
24 -->  HD현대오일뱅크 (24, 2, 'HD현대오일뱅크㈜직영 한양주유소', '서울', '강남구', '서울 강남구 압구정로 302 (신사동)', 2153, 2086, False, True, False, False, False, False, 37.5288681, 127.0341046)
25 -->  S-OIL (25, 4, '명품주유소', '서울', '강남구', '서울 강남구 도곡로 249 (역삼동)', 2158, 2067, True, True, False, False, False, True, 37.4942704, 127.0455093)
26 -->  GS칼텍스 (26, 3, '(주)소모 쎈트럴주유소', '서울', '강남구', '서울 강남구 삼성로 335', 2177, 2072, False, True, False, False, False, False, 37.5014209, 127.0591408)
27 -->  SK에너지 (27, 1, '대청주유소', '서울', '강남구', '서울 강남구 개포로 654 (일원동)', 2195, 2086, False, True, False, False, False, False, 37.49247370000001, 127.085679)
28 -->  HD현대오일뱅크 (28, 2, '㈜새서울석유 새서울주유소', '서울', '강남구', '서울 강남구 압구정로 154', 2198, 2088, False, True, False, False, False, True, 37.525835, 127.0265422)
29 -->  SK에너지 (29, 1, 'SK논현주유소', '서울', '강남구', '서울 강남구 논현로 747 (논현동)', 2345, 2195, False, True, False, True, False, True, 37.5186368, 127.028238)
30 -->  HD현대오일뱅크 (30, 2, '(주)제이제이네트웍스 제이제이주유소', '서울', '강남구', '서울 강남구 언주로 716', 2580, 2430, False, True, False, False, False, True, 37.5176472, 127.0357349)
31 -->  GS칼텍스 (31, 3, '(주)만정에너지 삼보주유소', '서울', '강남구', '서울 강남구 봉은사로 433 (삼성동)', 2598, 2560, False, True, False, False, False, False, 37.5115207, 127.0471716)
-----------------------------------
12
32 -->  HD현대오일뱅크 (32, 2, '재건에너지 재정제2주유소 고속셀프지점', '서울', '강동구', '서울특별시 강동구  천호대로 1246 (둔촌제2동)', 1609, 1509, True, True, False, False, False, False, 37.5365133, 127.1493588)
33 -->  SK에너지 (33, 1, '방아다리주유소', '서울', '강동구', '서울 강동구 동남로 811 (명일동)', 1665, 1575, True, True, False, False, False, False, 37.5490445, 127.1508229)
34 -->  GS칼텍스 (34, 3, '(주)삼표에너지 고덕주유소', '서울', '강동구', '서울 강동구 고덕로 39 (암사동)', 1675, 1585, True, True, False, False, True, False, 37.555049, 127.1297929)
35 -->  GS칼텍스 (35, 3, '(주)소모 신월주유소', '서울', '강동구', '서울 강동구 양재대로 1323 (성내동)', 1676, 1588, True, True, False, False, False, False, 37.5304933, 127.128992)
36 -->  GS칼텍스 (36, 3, '대성석유(주)길동주유소', '서울', '강동구', '서울 강동구 천호대로 1168', 1686, 1588, False, True, False, False, False, False, 37.5334229, 127.1411725)
37 -->  S-OIL (37, 4, '(주)퍼스트오일 코알라주유소', '서울', '강동구', '서울특별시 강동구  올림픽로 556 (성내동)', 1690, 1590, True, True, False, False, False, False, 37.5293808, 127.1224408)
38 -->  SK에너지 (38, 1, '주)지유에너지직영 오렌지주유소', '서울', '강동구', '서울 강동구 성안로 102 (성내동)', 1694, 1594, False, True, False, True, False, False, 37.532314, 127.1331781)
39 -->  SK에너지 (39, 1, 'sk해뜨는주유소', '서울', '강동구', '서울 강동구  상일로 132 (강일동)', 1699, 1609, True, True, False, True, False, False, 37.5545085, 127.1724154)
40 -->  GS칼텍스 (40, 3, '(주)소모 성내주유소', '서울', '강동구', '서울 강동구 올림픽로 578 (성내동)', 1738, 1638, True, True, False, True, False, False, 37.5313782, 127.1273286)
41 -->  GS칼텍스 (41, 3, '지에스칼텍스㈜ 동서울주유소', '서울', '강동구', '서울 강동구 천호대로 1456 (상일동)', 1749, 1679, True, True, False, False, False, False, 37.5511028, 127.1696401)
42 -->  HD현대오일뱅크 (42, 2, '천호현대주유소', '서울', '강동구', '서울 강동구 천중로 67 (천호동)', 1843, 1743, False, True, False, True, False, False, 37.5451331, 127.129473)
43 -->  S-OIL (43, 4, '광성주유소', '서울', '강동구', '서울 강동구 올림픽로 673 (천호동)', 1968, 1858, False, True, False, True, False, True, 37.5416117, 127.1241731)
-----------------------------------
9
44 -->  GS칼텍스 (44, 3, '수유동주유소', '서울', '강북구', '서울 강북구 도봉로 395 (수유동)', 1559, 1464, True, True, False, False, False, True, 37.6421556, 127.0295862)
45 -->  SK에너지 (45, 1, '북서울고속주유소', '서울', '강북구', '서울 강북구 삼양로 410 (수유동)', 1559, 1464, True, False, False, False, False, True, 37.6401448, 127.017205)
46 -->  SK에너지 (46, 1, 'SK에너지(주) 매일주유소', '서울', '강북구', '서울 강북구 삼양로 217 (미아동)', 1559, 1464, True, True, False, False, True, False, 37.6227977, 127.0191356)
47 -->  GS칼텍스 (47, 3, '대성석유(주)신광주유소', '서울', '강북구', '서울 강북구 삼양로 484', 1589, 1499, False, True, False, True, False, False, 37.6464088, 127.0153285)
48 -->  S-OIL (48, 4, '씨앤에스유통㈜ 미아셀프주유소', '서울', '강북구', '서울 강북구 도봉로 200 (미아동)', 1595, 1495, True, True, False, False, False, False, 37.6265292, 127.0265002)
49 -->  S-OIL (49, 4, '덕릉로주유소', '서울', '강북구', '서울 강북구 덕릉로 158 (번동)', 1595, 1495, True, True, False, False, False, False, 37.6349756, 127.0313182)
50 -->  SK에너지 (50, 1, '에덴주유소', '서울', '강북구', '서울 강북구 월계로 195 (번동)', 1615, 1505, True, True, False, True, False, False, 37.6216958, 127.0455344)
51 -->  SK에너지 (51, 1, '세원주유소', '서울', '강북구', '서울 강북구 한천로 918 (번동)', 1628, 1528, True, True, False, False, False, False, 37.6342596, 127.037732)
52 -->  HD현대오일뱅크 (52, 2, 'HD현대오일뱅크㈜직영 번동셀프주유소', '서울', '강북구', '서울 강북구 한천로 963 (번동)', 1647, 1557, True, True, False, True, False, True, 37.6355872, 127.0330493)
-----------------------------------
26
53 -->  HD현대오일뱅크 (53, 2, '이케이에너지(주) 강서주유소', '서울', '강서구', '서울 강서구 화곡로 273 (화곡동)', 1559, 1469, True, True, False, True, False, False, 37.549163, 126.8469964)
54 -->  알뜰주유소 (54, 5, '화곡역주유소', '서울', '강서구', '서울 강서구 강서로 154 (화곡동)', 1568, 1478, True, False, False, False, False, True, 37.5407186, 126.8415303)
55 -->  알뜰주유소 (55, 5, '목화주유소', '서울', '강서구', '서울 강서구 국회대로 251 (화곡동)', 1579, 1489, True, True, False, False, False, False, 37.5300403, 126.8629825)
56 -->  GS칼텍스 (56, 3, '지에스칼텍스㈜ 경인고속주유소', '서울', '강서구', '서울 강서구 국회대로 225 (화곡동)', 1579, 1489, True, True, True, True, False, True, 37.5296209, 126.859797)
57 -->  S-OIL (57, 4, '스카이주유소', '서울', '강서구', '서울 강서구 개화동로 457 (방화동)', 1595, 1493, True, True, False, False, True, True, 37.5714858, 126.8043806)
58 -->  HD현대오일뱅크 (58, 2, '행촌에너지 공항주유소', '서울', '강서구', '서울 강서구 개화동로 420 (개화동)', 1595, 1493, True, True, False, True, True, True, 37.574611, 126.8023029)
59 -->  SK에너지 (59, 1, 'KH에너지(주)직영 KH외발산주유소', '서울', '강서구', '서울 강서구 방화대로 30', 1595, 1495, True, True, True, True, True, False, 37.5434208, 126.816863)
60 -->  알뜰주유소 (60, 5, '뉴신정주유소', '서울', '강서구', '서울 강서구 곰달래로 207 (화곡동)', 1599, 1509, False, False, False, True, False, False, 37.5315796, 126.8560524)
61 -->  S-OIL (61, 4, '(주)한진 김포공항주유소', '서울', '강서구', '서울 강서구 하늘길 259', 1599, 1535, True, True, False, False, False, False, 37.5507763, 126.8155549)
62 -->  SK에너지 (62, 1, '개화주유소', '서울', '강서구', '서울 강서구 양천로 57', 1617, 1517, True, True, False, False, False, False, 37.5735014, 126.8100943)
63 -->  SK에너지 (63, 1, '화곡현대주유소', '서울', '강서구', '서울 강서구 강서로 151 (화곡동)', 1626, 1546, True, True, False, False, False, True, 37.5402614, 126.8411983)
64 -->  HD현대오일뱅크 (64, 2, '현대오일뱅크 등촌주유소', '서울', '강서구', '서울 강서구 등촌로 189 (등촌동)', 1636, 1546, False, True, False, False, False, False, 37.546808, 126.8625545)
65 -->  GS칼텍스 (65, 3, '강서열린주유소', '서울', '강서구', '서울 강서구 등촌로 213 (등촌동)', 1638, 1548, False, True, False, False, False, False, 37.54871199999999, 126.8630628)
66 -->  HD현대오일뱅크 (66, 2, 'HD현대오일뱅크㈜직영 양화교셀프주유소', '서울', '강서구', '서울 강서구 공항대로 653', 1639, 1564, True, True, False, False, False, False, 37.5473368, 126.8774764)
67 -->  S-OIL (67, 4, '신화곡주유소', '서울', '강서구', '서울 강서구 국회대로 71', 1645, 1545, True, True, False, False, False, False, 37.5272579, 126.8428896)
68 -->  S-OIL (68, 4, '하이웨이주유소', '서울', '강서구', '서울특별시 강서구 공항대로 432(화곡동)', 1648, 1575, True, True, False, False, True, True, 37.5546677, 126.8548053)
69 -->  GS칼텍스 (69, 3, '대성석유(주) 관문주유소', '서울', '강서구', '서울 강서구 공항대로 314', 1658, 1598, False, True, False, True, False, False, 37.5577232, 126.8425243)
70 -->  HD현대오일뱅크 (70, 2, 'HD현대오일뱅크㈜직영 가양주유소', '서울', '강서구', '서울 강서구  양천로 391 (가양동)', 1669, 1619, False, True, False, False, False, False, 37.5678802, 126.8510787)
71 -->  GS칼텍스 (71, 3, '대성석유(주)방화대성주유소', '서울', '강서구', '서울 강서구 양천로 176', 1676, 1598, True, True, False, False, True, False, 37.5728815, 126.8234821)
72 -->  SK에너지 (72, 1, '세원제1주유소', '서울', '강서구', '서울 강서구 양천로 311 (가양동)', 1688, 1628, True, True, False, True, False, False, 37.5678802, 126.8510787)
73 -->  SK에너지 (73, 1, 'SK KH에너지 가양주유소', '서울', '강서구', '서울 강서구 강서로 498 (가양동)', 1698, 1638, False, True, False, True, True, True, 37.5697823, 126.8419022)
74 -->  GS칼텍스 (74, 3, '대성주유소', '서울', '강서구', '서울 강서구 강서로 472', 1698, 1638, False, True, False, True, False, False, 37.5675028, 126.8414186)
75 -->  GS칼텍스 (75, 3, '박물관주유소', '서울', '강서구', '서울 강서구 양천로53길 97 (가양동)', 1728, 1668, False, True, False, True, True, False, 37.5657849, 126.8451216)
76 -->  SK에너지 (76, 1, '코리나(주)청룡주유소', '서울', '강서구', '서울 강서구 양천로 576', 1748, 1668, False, True, False, False, False, False, 37.5567325, 126.862765)
77 -->  S-OIL (77, 4, '참솔에너지', '서울', '강서구', '서울 강서구 벌말로 281 (오곡동)', 1835, 1735, True, True, False, False, False, False, 37.5562519, 126.7684491)
78 -->  SK에너지 (78, 1, '염창동주유소', '서울', '강서구', '서울 강서구 양천로 720 (염창동)', 1935, 1860, False, True, False, False, False, False, 37.5491113, 126.8757906)
-----------------------------------
10
79 -->  HD현대오일뱅크 (79, 2, 'HD현대오일뱅크㈜직영 문성골주유소', '서울', '관악구', '서울 관악구 문성로 97 (신림동)', 1589, 1489, False, True, False, False, False, False, 37.4777941, 126.9143022)
80 -->  알뜰주유소 (80, 5, '(주)연우에너지 신관주유소', '서울', '관악구', '서울 관악구 신림로 290 (신림동)', 1615, 1515, True, True, False, False, False, False, 37.480413, 126.9306665)
81 -->  SK에너지 (81, 1, '대양석유(주)직영 보라매주유소', '서울', '관악구', '서울 관악구  보라매로 26 (봉천동)', 1624, 1524, True, True, False, False, False, False, 37.4916874, 126.9271603)
82 -->  GS칼텍스 (82, 3, '서일석유(주)락성주유소', '서울', '관악구', '서울 관악구 남부순환로 1920 (봉천동)', 1645, 1545, True, True, False, True, False, True, 37.47717919999999, 126.9623883)
83 -->  SK에너지 (83, 1, '(주)한유에너지행운셀프주유소', '서울', '관악구', '서울 관악구 남부순환로 1883 (봉천동)', 1645, 1545, True, True, False, False, False, False, 37.4791083, 126.9591697)
84 -->  S-OIL (84, 4, '유림주유소', '서울', '관악구', '서울 관악구 신림로 176 (신림동)', 1648, 1548, False, True, False, True, False, True, 37.4737247, 126.93488)
85 -->  SK에너지 (85, 1, 'SK에너지(주)직영 대공원주유소', '서울', '관악구', '서울 관악구 과천대로 921 (남현동)', 1649, 1555, False, True, False, True, True, False, 37.4728556, 126.9821515)
86 -->  SK에너지 (86, 1, 'SK에너지(주) 신봉천', '서울', '관악구', '서울 관악구 남부순환로 1880 (봉천동)', 1649, 1555, False, True, False, False, True, False, 37.4787572, 126.9583432)
87 -->  S-OIL (87, 4, '관악시몬주유소', '서울', '관악구', '서울특별시 관악구 남부순환로 1753 (봉천동)', 1735, 1625, False, True, False, False, False, False, 37.4823585, 126.945101)
88 -->  GS칼텍스 (88, 3, 'CJ대한통운㈜ 신림주유소', '서울', '관악구', '서울 관악구 남부순환로 1515 (신림동)', 1798, 1698, False, True, False, False, False, False, 37.4829496, 126.9189553)
-----------------------------------
10
89 -->  HD현대오일뱅크 (89, 2, 'HD현대오일뱅크㈜직영 능동주유소', '서울', '광진구', '서울 광진구 천호대로 584 (능동)', 1589, 1495, True, True, False, True, False, True, 37.5555551, 127.082455)
90 -->  HD현대오일뱅크 (90, 2, '(주)창원CW', '서울', '광진구', '서울 광진구 광나루로 460 (화양동)', 1589, 1495, True, True, False, False, False, False, 37.5451042, 127.0804969)
91 -->  HD현대오일뱅크 (91, 2, 'HD현대오일뱅크㈜직영 중원셀프주유소', '서울', '광진구', '서울 광진구 동일로 398 (중곡동)', 1598, 1509, True, True, False, False, False, False, 37.56354400000001, 127.0888304)
92 -->  HD현대오일뱅크 (92, 2, 'HD현대오일뱅크㈜직영 장호셀프주유소', '서울', '광진구', '서울 광진구 자양로 37 (자양동)', 1598, 1515, True, True, False, True, False, False, 37.5312783, 127.0858325)
93 -->  SK에너지 (93, 1, '(주)장수주유소', '서울', '광진구', '서울 광진구 동일로 266 (군자동)', 1607, 1515, True, False, False, True, False, True, 37.5549721, 127.0715197)
94 -->  HD현대오일뱅크 (94, 2, '태양주유소', '서울', '광진구', '서울 광진구 동일로 345 (중곡동)', 1654, 1494, False, False, False, False, False, True, 37.56354400000001, 127.0888304)
95 -->  S-OIL (95, 4, '정해네트웍스(주)일진주유소', '서울', '광진구', '서울 광진구 동일로 413 (중곡동)', 1667, 1567, True, True, False, False, False, True, 37.56354400000001, 127.0888304)
96 -->  S-OIL (96, 4, '삼호주유소', '서울', '광진구', '서울 광진구 천호대로 809 (광장동)', 1697, 1597, True, True, False, False, False, True, 37.5456356, 127.1037341)
97 -->  SK에너지 (97, 1, '유니스에너지 자양주유소', '서울', '광진구', '서울 광진구 아차산로 298 (자양동)', 1728, 1628, False, True, False, False, False, False, 37.531692, 127.074516)
98 -->  SK에너지 (98, 1, '강평주유소 ㈜강평텔레콤', '서울', '광진구', '서울 광진구 아차산로 616', 1848, 1697, False, True, False, False, False, False, 37.5476119, 127.1072051)
-----------------------------------
15
99 -->  SK에너지 (99, 1, '서서울고속주유소', '서울', '구로구', '서울 구로구 경인로 150 (오류동)', 1542, 1454, True, True, False, False, False, True, 37.49167509999999, 126.8428418)
100 -->  HD현대오일뱅크 (100, 2, '㈜자연에너지 고척주유소', '서울', '구로구', '서울 구로구 고척로 199 (고척동)', 1549, 1464, True, True, False, False, False, False, 37.5051273, 126.8554406)
101 -->  S-OIL (101, 4, '씨앤에스유통(주) 구로드림주유소', '서울', '구로구', '서울 구로구 경인로 41 (온수동)', 1555, 1465, True, True, False, False, False, False, 37.4903245, 126.8256021)
102 -->  GS칼텍스 (102, 3, '(주)한미석유구로그린주유소', '서울', '구로구', '서울 구로구 구로중앙로 76 (구로동)', 1585, 1495, True, True, False, True, False, False, 37.4963064, 126.8884444)
103 -->  HD현대오일뱅크 (103, 2, '신성주유소', '서울', '구로구', '서울 구로구 구로동로 187 (구로제2동)', 1585, 1485, True, True, False, False, False, False, 37.4951588, 126.8823886)
104 -->  HD현대오일뱅크 (104, 2, '대원셀프주유소', '서울', '구로구', '서울 구로구 개봉로 7', 1585, 1485, True, True, False, False, False, False, 37.4861643, 126.8561585)
105 -->  S-OIL (105, 4, '극동유화(주) 항동주유소', '서울', '구로구', '서울 구로구 서해안로 2154 (항동)', 1595, 1495, True, True, False, False, False, False, 37.4834391, 126.8278279)
106 -->  GS칼텍스 (106, 3, '대성산업(주)디큐브주유소', '서울', '구로구', '서울 구로구 경인로 650 (신도림동)', 1615, 1515, False, False, False, False, False, True, 37.5078855, 126.8870874)
107 -->  SK에너지 (107, 1, '구인주유소', '서울', '구로구', '서울 구로구 경인로 558 (구로동)', 1617, 1517, False, True, False, True, True, False, 37.5042779, 126.8860944)
108 -->  SK에너지 (108, 1, 'SK구로주유소', '서울', '구로구', '서울 구로구 구일로 94 (구로동)', 1617, 1517, False, True, False, False, False, False, 37.4936018, 126.872189)
109 -->  SK에너지 (109, 1, 'SK에너지(주)직영 개봉동주유소', '서울', '구로구', '서울 구로구 경인로 290 (개봉동)', 1619, 1554, False, True, False, False, False, False, 37.4863899, 126.8567675)
110 -->  HD현대오일뱅크 (110, 2, 'HD현대오일뱅크㈜직영 구로셀프주유소', '서울', '구로구', '서울 구로구 시흥대로 531', 1644, 1534, True, True, False, True, False, True, 37.4810027, 126.8992662)
111 -->  HD현대오일뱅크 (111, 2, 'HD현대오일뱅크㈜직영 신구로주유소', '서울', '구로구', '서울 구로구 가마산로 293 (구로동)', 1654, 1573, False, True, False, False, False, False, 37.4975223, 126.8924841)
112 -->  HD현대오일뱅크 (112, 2, 'JHC에너지', '서울', '구로구', '서울 구로구 시흥대로 539', 1883, 1793, False, False, False, True, False, False, 37.4815266, 126.8998375)
113 -->  S-OIL (113, 4, '동아주유소', '서울', '구로구', '서울 구로구 도림로 91 (구로동)', 1898, 1598, False, False, False, False, True, False, 37.4908509, 126.8931878)
-----------------------------------
7
114 -->  SK에너지 (114, 1, '(주)화동유업 화동주유소', '서울', '금천구', '서울 금천구 시흥대로 484', 1593, 1493, True, True, False, False, False, False, 37.4767974, 126.8991596)
115 -->  HD현대오일뱅크 (115, 2, 'HD현대오일뱅크㈜직영 금천현대셀프주유소', '서울', '금천구', '서울 금천구 독산로 147 (시흥동)', 1594, 1499, True, True, False, False, False, False, 37.460506, 126.9045162)
116 -->  S-OIL (116, 4, '구광주유소', '서울', '금천구', '서울 금천구 서부샛길 674 (가산동)', 1595, 1495, False, True, False, False, False, False, 37.4820373, 126.8751711)
117 -->  GS칼텍스 (117, 3, '대득에너지(금천셀프주유소)', '서울', '금천구', '서울 금천구  시흥대로 81 (시흥동)', 1645, 1545, True, True, False, False, True, True, 37.4412805, 126.9029246)
118 -->  SK에너지 (118, 1, 'SK에너지(주) 이가주유소', '서울', '금천구', '서울 금천구 시흥대로 441', 1645, 1545, False, True, False, True, False, False, 37.4730289, 126.8979341)
119 -->  S-OIL (119, 4, '백산주유소', '서울', '금천구', '서울특별시 금천구  시흥대로 174 (시흥동)', 1645, 1545, True, True, False, True, False, False, 37.4496856, 126.9029496)
120 -->  HD현대오일뱅크 (120, 2, '현대오일뱅크㈜직영 금천제일주유소', '서울', '금천구', '서울 금천구 남부순환로 1410 (독산동)', 1649, 1539, False, True, False, False, False, False, 37.4802077, 126.9074805)
-----------------------------------
13
121 -->  GS칼텍스 (121, 3, '월계주유소', '서울', '노원구', '서울 노원구 월계로 252 (월계동)', 1575, 1485, True, True, False, True, False, False, 37.6247784, 127.0507659)
122 -->  HD현대오일뱅크 (122, 2, '(주)정건에너지직영', '서울', '노원구', '서울 노원구 노원로17길 29 (하계동)', 1585, 1495, True, True, False, False, False, False, 37.642188, 127.0703943)
123 -->  GS칼텍스 (123, 3, '이엠석유(주)배꽃나라주유소', '서울', '노원구', '서울 노원구 화랑로 466 (공릉1동)', 1585, 1495, True, True, False, True, False, False, 37.6238137, 127.0735097)
124 -->  S-OIL (124, 4, '한신주유소', '서울', '노원구', '서울 노원구 동일로 1089 (공릉동)', 1590, 1495, True, True, False, False, False, False, 37.6304722, 127.0909904)
125 -->  S-OIL (125, 4, '구도일주유소 불암', '서울', '노원구', '서울 노원구 한글비석로 268 (중계동)', 1611, 1518, True, True, False, False, False, False, 37.6513513, 127.0772401)
126 -->  HD현대오일뱅크 (126, 2, '화랑대주유소', '서울', '노원구', '서울 노원구 화랑로 483', 1615, 1515, True, True, False, False, False, False, 37.61957719999999, 127.0806305)
127 -->  SK에너지 (127, 1, '삼육주유소', '서울', '노원구', '서울 노원구 화랑로 822 (공릉동)', 1615, 1515, True, True, False, False, False, False, 37.6386379, 127.1090597)
128 -->  S-OIL (128, 4, '태릉솔밭주유소', '서울', '노원구', '서울 노원구 노원로 49 (공릉동)', 1625, 1535, True, True, False, False, False, True, 37.6259652, 127.0855897)
129 -->  HD현대오일뱅크 (129, 2, '상계동주유소', '서울', '노원구', '서울 노원구 노원로26길 191 (상계동)', 1625, 1555, False, False, False, True, False, False, 37.6583938, 127.0711375)

In [18]:
cursor.execute("SELECT COUNT(*) FROM gas_station;")
print("입력된 데이터의 총 갯수 --> ", cursor.fetchone()[0])

입력된 데이터의 총 갯수 -->  356

In [19]:
cursor.execute("SELECT gu, COUNT(name) FROM gas_station GROUP BY gu;")
cursor.fetchall()

[('강남구', 31),
 ('강동구', 12),
 ('강북구', 9),
 ('강서구', 26),
 ('관악구', 10),
 ('광진구', 10),
 ('구로구', 15),
 ('금천구', 7),
 ('노원구', 13),
 ('도봉구', 14),
 ('동대문구', 14),
 ('동작구', 7),
 ('마포구', 9),
 ('서대문구', 13),
 ('서초구', 25),
 ('성동구', 11),
 ('성북구', 16),
 ('송파구', 26),
 ('양천구', 19),
 ('영등포구', 23),
 ('용산구', 11),
 ('은평구', 12),
 ('종로구', 5),
 ('중구', 7),
 ('중랑구', 11)]

In [20]:
cursor.execute("SELECT * FROM gas_station LIMIT 10;")
result = cursor.fetchall()
df = pd.DataFrame(result)
df.columns = cursor.column_names
df

,id,brand,name,city,gu,address,gasoline,diesel,self,car_wash,charging_station,car_maintenance,convenience_store,24_hours,lat,lng
0,1,1,(주)보성 세곡주유소,서울,강남구,서울 강남구 헌릉로 731 (세곡동),1603,1504,1,1,0,0,0,0,37.46715650000000,127.11870810000000
1,2,2,HD현대오일뱅크㈜직영 산성셀프주유소,서울,강남구,서울 강남구 헌릉로 730,1619,1525,1,1,0,0,0,0,37.46656750000000,127.11908030000000
2,3,3,방죽주유소,서울,강남구,서울 강남구 밤고개로 215 (율현동),1637,1559,1,1,0,0,0,0,37.47499260000000,127.10688660000000
3,4,1,자곡셀프주유소,서울,강남구,서울 강남구 밤고개로 120 (자곡동),1658,1579,1,1,0,0,0,0,37.48340020000000,127.10404580000000
4,5,2,HD현대오일뱅크㈜직영 도곡셀프주유소,서울,강남구,서울 강남구 남부순환로 2718 (도곡2동),1669,1579,1,1,0,1,0,0,37.48546230000000,127.04321810000000
5,6,1,오일프러스 셀프,서울,강남구,서울 강남구 남부순환로 2651 (도곡동),1675,1595,1,1,0,1,0,1,37.48583900000000,127.03967210000000
6,7,4,극동유화㈜ 개나리주유소,서울,강남구,서울 강남구 언주로 423 (역삼동),1675,1585,1,1,0,1,0,1,37.50007760000000,127.03854190000000
7,8,2,HD현대오일뱅크㈜직영 유진주유소,서울,강남구,서울 강남구 논현로 152 (도곡동),1679,1594,0,1,0,1,0,0,37.48743160000000,127.03999760000000
8,9,1,대교셀프주유소,서울,강남구,서울 강남구 강남대로 640 (신사동),1680,1650,1,0,0,0,0,1,37.52812920000000,127.03555370000000
9,10,2,삼성동주유소,서울,강남구,서울 강남구 테헤란로 619 (삼성동),1715,1615,1,1,0,0,0,0,37.50985760000000,127.06511010000000

In [21]:
driver.quit()

문제 5.

시각화 프로젝트를 위하여 다음의 규칙으로 쿼리하여 CSV 파일로 저장합니다. (Python 코드로 작성)
- 전체 데이터를 가져오는데, 주유소 브랜드 아이디 대신 브랜드명이 표시되어야 합니다. (정렬 : 주유소 매장 아이디 순)
- 다음의 형식으로 저장되어야 함 (브랜드 이름, 칼럼 명 주의, id : GAS_STORE.id)

제출 5.
- 시각화 프로젝트 관련 코드 (ipynb), 결과 파일 (csv)

In [22]:
query = """
SELECT s.id, b.name brand, s.name, city, gu, address, gasoline, diesel, 
self, car_wash, charging_station, car_maintenance, convenience_store, 24_hours, lat, lng 
FROM gas_brand AS b, gas_station AS s 
WHERE b.id=s.brand ORDER BY s.id;
"""
cursor.execute(query)
result = cursor.fetchall()
df = pd.DataFrame(result)
df.columns = cursor.column_names
df

,id,brand,name,city,gu,address,gasoline,diesel,self,car_wash,charging_station,car_maintenance,convenience_store,24_hours,lat,lng
0,1,SK에너지,(주)보성 세곡주유소,서울,강남구,서울 강남구 헌릉로 731 (세곡동),1603,1504,1,1,0,0,0,0,37.46715650000000,127.11870810000000
1,2,현대오일뱅크,HD현대오일뱅크㈜직영 산성셀프주유소,서울,강남구,서울 강남구 헌릉로 730,1619,1525,1,1,0,0,0,0,37.46656750000000,127.11908030000000
2,3,GS칼텍스,방죽주유소,서울,강남구,서울 강남구 밤고개로 215 (율현동),1637,1559,1,1,0,0,0,0,37.47499260000000,127.10688660000000
3,4,SK에너지,자곡셀프주유소,서울,강남구,서울 강남구 밤고개로 120 (자곡동),1658,1579,1,1,0,0,0,0,37.48340020000000,127.10404580000000
4,5,현대오일뱅크,HD현대오일뱅크㈜직영 도곡셀프주유소,서울,강남구,서울 강남구 남부순환로 2718 (도곡2동),1669,1579,1,1,0,1,0,0,37.48546230000000,127.04321810000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351,352,S-OIL,(주)태영 구도일주유소 한인,서울,중랑구,서울 중랑구 망우로 170 (상봉동),1627,1527,1,1,0,1,0,0,37.59246550000000,127.07190800000000
352,353,SK에너지,신내주유소,서울,중랑구,서울 중랑구 용마산로 705 (신내동),1632,1533,1,1,0,0,0,0,37.61712500000000,127.09589620000000
353,354,SK에너지,용마로주유소,서울,중랑구,서울 중랑구 용마산로 309 (면목동),1638,1518,1,1,0,0,0,0,37.57987770000000,127.09218190000000
354,355,S-OIL,범아주유소,서울,중랑구,서울 중랑구 동일로 881 (묵동),1658,1558,0,1,0,1,0,0,37.60931110000000,127.07767250000000
355,356,SK에너지,신일셀프주유소,서울,중랑구,서울 중랑구 상봉로 58 (망우동),1659,1568,1,1,0,1,0,1,37.59094190000000,127.09380660000000

In [23]:
df.to_csv("./result_data/sql_oil_station.csv", index=False, encoding="utf-8")

In [24]:
df = pd.read_csv("./result_data/sql_oil_station.csv")
df

,id,brand,name,city,gu,address,gasoline,diesel,self,car_wash,charging_station,car_maintenance,convenience_store,24_hours,lat,lng
0,1,SK에너지,(주)보성 세곡주유소,서울,강남구,서울 강남구 헌릉로 731 (세곡동),1603,1504,1,1,0,0,0,0,37.467157,127.118708
1,2,현대오일뱅크,HD현대오일뱅크㈜직영 산성셀프주유소,서울,강남구,서울 강남구 헌릉로 730,1619,1525,1,1,0,0,0,0,37.466567,127.119080
2,3,GS칼텍스,방죽주유소,서울,강남구,서울 강남구 밤고개로 215 (율현동),1637,1559,1,1,0,0,0,0,37.474993,127.106887
3,4,SK에너지,자곡셀프주유소,서울,강남구,서울 강남구 밤고개로 120 (자곡동),1658,1579,1,1,0,0,0,0,37.483400,127.104046
4,5,현대오일뱅크,HD현대오일뱅크㈜직영 도곡셀프주유소,서울,강남구,서울 강남구 남부순환로 2718 (도곡2동),1669,1579,1,1,0,1,0,0,37.485462,127.043218
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351,352,S-OIL,(주)태영 구도일주유소 한인,서울,중랑구,서울 중랑구 망우로 170 (상봉동),1627,1527,1,1,0,1,0,0,37.592466,127.071908
352,353,SK에너지,신내주유소,서울,중랑구,서울 중랑구 용마산로 705 (신내동),1632,1533,1,1,0,0,0,0,37.617125,127.095896
353,354,SK에너지,용마로주유소,서울,중랑구,서울 중랑구 용마산로 309 (면목동),1638,1518,1,1,0,0,0,0,37.579878,127.092182
354,355,S-OIL,범아주유소,서울,중랑구,서울 중랑구 동일로 881 (묵동),1658,1558,0,1,0,1,0,0,37.609311,127.077673
355,356,SK에너지,신일셀프주유소,서울,중랑구,서울 중랑구 상봉로 58 (망우동),1659,1568,1,1,0,1,0,1,37.590942,127.093807

문제 6.

위도, 경도 정보를 이용하여 미왕빌딩에서 1킬로 이내에 위치한 주유소 정보를 검색하세요.

- 주유소 아이디, 주유소 브랜드명, 주유소 매장명, 주소, 미왕빌딩으로 부터의 거리 (km)

제출 6.
- 쿼리, 결과

In [35]:
query = "SELECT id, lat, lng FROM gas_station;"
cursor.execute(query)
location = cursor.fetchall()

In [36]:
from geopy.distance import geodesic

# 미왕빌딩 37.4955366 127.0293521
point_1 = get_lat_lng("서울특별시 강남구 역삼동 826-21")

query = """
SELECT s.id, b.name brand, s.name, address 
FROM gas_brand b, gas_station s WHERE b.id=s.brand AND s.id=%s
"""

within_1km = []
for id, lat, lng in location:
    point_2 = (float(lat), float(lng))
    distance = geodesic(point_1, point_2).kilometers
    
    if distance <= 1:
        cursor.execute(query, (id,))
        within_1km.append(cursor.fetchall()[0]+(distance,))
        print(f"{id} --> {distance}km")

df = pd.DataFrame(within_1km)
df.columns = cursor.column_names + ("distance_km",)
df

7 --> 0.9598005637550876km
12 --> 0.5301177918947013km
205 --> 0.8106070790047704km

    id   brand                 name                address  distance_km
0    7   S-OIL         극동유화㈜ 개나리주유소   서울 강남구 언주로 423 (역삼동)     0.959801
1   12   SK에너지              SK서광주유소         서울 강남구 역삼로 142     0.530118
2  205  현대오일뱅크  HD현대오일뱅크㈜직영 서초제일주유소  서울 서초구 사임당로 116 (서초동)     0.810607

In [ ]:
# 풀이 - 위도 경도 거리계산 sql
"""
SELECT *, (6371*acos(cos(radians(위도1))*cos(radians(위도2))*cos(radians(경도2)-radians(경도1))+sin(radians(위도1))*sin(radians(위도2)))) AS dist
FORM 테이블명 HAVING dist <= 200/1000 --> 거리 조건을 달수도 있다.
"""
# 주유소 아이디, 주유소 브랜드명, 주유소 매장명, 주소, 미왕빌딩으로 부터의 거리 (km)

query = '''
SELECT s.id, b.name, s.name, s.address, 
(6371*acos(cos(radians(37.4955366))*cos(radians(s.lat))*cos(radians(s.lng)-radians(127.0293521))+sin(radians(37.4955366))*sin(radians(s.lat)))) distance
FROM gas_station s, gas_brand b WHERE s.brand=b.id ⭐HAVING distance <= 1⭐ ORDER BY distance
'''
cursor.execute(query)
result = cursor.fetchall()
for row in result:
    print(row)

문제 7.

위도, 경도 정보를 이용하여 미왕빌딩에서 셀프주유가 가능하고 24시간이면서 편의점이 있는 가장 가까운 주유소 10개를 휘 발유 가격이 가장 저렴한 순으로 정렬하여 조회하세요.

- 주유소 아이디, 주유소 브랜드명, 주유소 매장명, 주소, 휘발유 가격, 부가정보 (셀프, 24시간, 편의점 여부), 미왕빌딩으로 부터의 거리 (km)


제출 7.
- 쿼리, 결과

In [29]:
# 미왕빌딩 37.4955366 127.0293521
query = """
SELECT s.id, b.name brand, s.name, s.address, s.gasoline, s.self, s.24_hours, s.convenience_store, s.distance_km 
FROM gas_brand b, (SELECT id, brand, name, address, gasoline, self, 24_hours, convenience_store, 
(6371*acos(cos(radians(37.4955366))*cos(radians(lat))*cos(radians(lng)-radians(127.0293521))+sin(radians(37.4955366))*sin(radians(lat)))) distance_km 
FROM gas_station WHERE self=1 AND 24_hours=1 AND convenience_store=1 ORDER BY distance_km LIMIT 10) s
WHERE b.id=s.brand ORDER BY gasoline;
"""
cursor.execute(query)
df = pd.DataFrame(cursor.fetchall())
df.columns = cursor.column_names
df

,id,brand,name,address,gasoline,self,24_hours,convenience_store,distance_km
0,191,알뜰주유소,만남의광장주유소,서울 서초구 양재대로12길 73-71,1565,1,1,1,4.101206
1,296,SK에너지,행촌주유소,서울 영등포구 도신로 130 (신길동),1585,1,1,1,10.957517
2,178,현대오일뱅크,(주)가재울뉴타운주유소,서울 서대문구 모래내로 205,1593,1,1,1,12.790223
3,244,GS칼텍스,지에스칼텍스(주)가든파이브주유소,서울 송파구 탄천동로 740,1613,1,1,1,5.287642
4,186,SK에너지,행촌제2주유소,서울 서대문구 성산로 490 (대신동),1632,1,1,1,10.703505
5,255,SK에너지,백제고분로주유소,서울 송파구 오금로 143 (방이동),1633,1,1,1,7.940805
6,303,SK에너지,SK에너지(주) 기린주유소,서울 영등포구 선유로 270,1639,1,1,1,12.325648
7,282,현대오일뱅크,현대오일뱅크(주)직영 양천현대셀프주유소,서울 양천구 안양천로 1179 (목동),1639,1,1,1,14.206368
8,117,GS칼텍스,대득에너지(금천셀프주유소),서울 금천구 시흥대로 81 (시흥동),1645,1,1,1,12.684344
9,209,SK에너지,대신석유(주)대우주유소,서울 서초구 양재대로 173 (양재동),1689,1,1,1,3.708088

In [ ]:
# 풀이

# Step 1. 조건을 모두 만족하고 거리로 정렬해 Top 10개를 가져오는 쿼리문
query = '''
SELECT s.id, b.name, s.name, s.address, s.gasoline, s.self, s.24_hours, s.convenience_store,
(6371*acos(cos(radians(37.4955366))*cos(radians(s.lat))*cos(radians(s.lng)-radians(127.0293521))+sin(radians(37.4955366))*sin(radians(s.lat)))) distance
FROM gas_brand b, gas_station s
WHERE b.id=s.brand AND s.self=1 AND s.24_hours=1 AND s.convenience_store=1
ORDER BY distance LIMIT 10
'''

# Step 2. 위에서 만든 쿼리문 전체를 Table로 만든다. ⭐ 서브 쿼리 생성
query = '''
FROM (SELECT s.id, b.name, s.name, s.address, s.gasoline, s.self, s.24_hours, s.convenience_store,
		(6371*acos(cos(radians(37.4955366))*cos(radians(s.lat))*cos(radians(s.lng)-radians(127.0293521))+sin(radians(37.4955366))*sin(radians(s.lat)))) distance
		FROM gas_brand b, gas_station s
		WHERE b.id=s.brand AND s.self=1 AND s.24_hours=1 AND s.convenience_store=1
		ORDER BY distance LIMIT 10) table
'''

# Step 3. 서브 쿼리로 만든 테이블에서 다시 SELECT
query = '''
SELECT t.id, t.brand, t.name, t.address, t.gasoline, t.self, t.24_hours, t.convenience_store, t.ditance
FROM (SELECT s.id id, b.name brand, s.name name, s.address, s.gasoline, s.self, s.24_hours, s.convenience_store,
		(6371*acos(cos(radians(37.4955366))*cos(radians(s.lat))*cos(radians(s.lng)-radians(127.0293521))+sin(radians(37.4955366))*sin(radians(s.lat)))) distance
		FROM gas_brand b, gas_station s
		WHERE b.id=s.brand AND s.self=1 AND s.24_hours=1 AND s.convenience_store=1
		ORDER BY distance LIMIT 10) t
ORDER BY t.gasoline
'''

문제 8.

구별로 주유소 브랜드 별 휘발유 평균가격을 조회하여 저렴한 순으로 출력하세요.

- 구 이름, 주유소 브랜드 이름, 휘발유 평균 가격

제출 8.
- 쿼리, 결과

In [32]:
query = """
SELECT s.gu, b.name brand, AVG(s.gasoline) avg_gasoline 
FROM gas_brand b, gas_station s
WHERE b.id=s.brand 
GROUP BY s.gu, b.name 
ORDER BY s.gu, avg_gasoline;
"""
cursor.execute(query)
df = pd.DataFrame(cursor.fetchall())
df.columns = cursor.column_names
df

     gu   brand avg_gasoline
0   강남구   SK에너지    1807.3636
1   강남구   S-OIL    1857.3333
2   강남구  현대오일뱅크    1942.6250
3   강남구   GS칼텍스    1988.3333
4   강동구   SK에너지    1686.0000
..  ...     ...          ...
94   중구   SK에너지    2121.5000
95   중구   GS칼텍스    2499.0000
96  중랑구   GS칼텍스    1580.3333
97  중랑구   S-OIL    1614.7500
98  중랑구   SK에너지    1626.5000

[99 rows x 3 columns]

In [ ]:
# 풀이

query = '''
SELECT s.gu, b.name, AVG(s.gasoline) FROM gas_brand b, gas_station s 
WHERE b.id=s.brand 
GROUP BY s.gu, b.nameORDER BY s.gu, AVG(s.gasoline)
'''

In [33]:
cursor.close()
conn.close()

---