# 제로베이스데이터사이언스 스쿨 원데이 프로젝트
> ## 세계 테러 데이터 분석 - SQL 사용하기

---

#### 총 8문제 100점 만점 

- 문제 1 10점  
- 문제 2,3,5,6,7,8번 각 10점 
- 문제 4번 30점
- 총점 100점

#### 유의사항

- 모든 정답 코드는 jupyter notebook 파일에 작성해주세요. 
- 1번 문제는 정답 코드를 그대로 공개해드립니다. 따라서 진행해주세요. 
- 그 외 문제들은 참고하실 수 있도록 주석과 출력 코드를 보여드립니다. 
- 제출시, 반드시 결과가 실행되어 있어야 합니다. 미실행 또는 오류시 감점입니다. 
- 제출시, [DS]sql3_choyongha.ipynb 형식에 맞춰 제출해주세요.

---

여러분은 이전 과제에서 세계 테러 데이터 분석 프로젝트를 진행하였습니다. 

이번 시간에는 분석할 데이터를 Database 로 변환하고, 분석에 필요한 데이터를 저장된 Database 에서 쿼리하여 가져와 보도록 하겠습니다.

#### 작업환경

- aws rds 사용시: 이전 과제에서 생성한 AWS RDS (MySQL) 의 Database 및 사용자를 사용하세요. 
  - Database Name: oneday 
  - User Name / Password: oneday / 1234
- local 사용시: 로컬 환경에서 생성한 Database 및 사용자를 사용하세요.
  - 위와 동일하게 생성해주세요

## 원본 Data Download
- https://www.kaggle.com/datasets/START-UMD/gtd

---

문제 1.  csv 파일에 저장된 세계 테러 데이터를 하나의 테이블에 저장하세요. 

- globalterrorismmdb_0718.csv - https://www.kaggle.com/datasets/START-UMD/gtd
- pandas의 to_sql 함수 사용 (힌트 : create_engine)
- Table name : origin_terror_data 

제출 1. Table 생성 및 조회 결과 : DESC origin_terror_data, SELECT  COUNT(*) FROM origin_terror_data

제출 2. 관련 코드 및 실행 결과 (ipynb)

In [ ]:
##############################################################################################
#  문제 1. 원본 데이터 (csv)를 데이터베이스로 변환하고 확인하기 
#  globalterrorismdb_0718dist.csv -> origin_terror_data (table)
#  Pandas 의 to_sql 사용 
##############################################################################################

##############################################################################################
#  pip install pymysql
#  pip install SQLAlchemy Flask-SQLAlchemy
##############################################################################################

import time
import pandas as pd
import pymysql
from sqlalchemy import create_engine
import configparser

# 데이터 불러오기
df = pd.read_csv('../data/terror.csv', encoding='ISO-8859-1')

# DB 접속 엔진 객체 생성
user = 'root'
password = 'password'
host = 'localhost'
port = 3306
database = 'test01'

engine = create_engine(f'mysql+pymysql://{user}:{password}@{host}:{port}/{database}?charset=utf8mb4')

# DB 테이블 명(생성될 테이블 이름)
table_name = "origin_terror_data"

# DB에 DataFrame 적재
df.to_sql(index = False, 
          name = table_name,
          con = engine,
          if_exists = 'append',
          method = 'multi', 
          chunksize = 10000)

records = engine.execute("SELECT COUNT(*) FROM origin_terror_data").fetchall()
print(records)

[(181691,)]

문제 2. origin_terror_data 에서 region, country 관련 데이터는 code 와 txt (name) 속성으로 정의되어 있습니다. 

문제 2-1. Region 및 Country 테이블을 그림과 같은 구조로 생성하세요. 

- origin_terror_data 를 분석하여 각 테이블의 데이터 타입을 정의하세요. 
- 문자열 데이터의 사이즈는 origin_terror_data 테이블에서 해당 데이터의 max length 를 쿼리로 체크하여 정의하세요. 
- Region 과 Country 데이터 사이의 관계를 파악하여 Foreign Key 를 설정하세요.

참고> 
- Region.region_code     = origin_terror_data.region
- Region.region_name     = origin_terror_data.region_txt
- Country.country_code   = origin_terror_data.country
- Country.country_name   = origin_terror_data.country_txt

In [ ]:
##############################################################################################
#  문제 2. region / country / city 데이터 추출하여 데이터베이스로 변환하기 
#  중복을 제거한 code - name 값 
#  region - country - city 관계 정의 
##############################################################################################
import mysql.connector

conn = mysql.connector.connect(
    host = "localhost",
    port = 3306,
    user = "root",
    password = "password",
    database = "test01 "
)
cursor = conn.cursor(buffered=True)

In [ ]:
# region_txt 의 max length 체크

[(27,)]

In [ ]:
# Region 테이블 만들기

[('region_code', b'int', 'NO', 'PRI', None, ''), ('region_name', b'varchar(32)', 'NO', '', None, '')]

In [ ]:
# country_txt 의 max length 체크

[(32,)]

In [ ]:
# Country 테이블 만들기

[('country_code', b'int', 'NO', 'PRI', None, ''), ('region_code', b'int', 'NO', 'MUL', None, ''), ('country_name', b'varchar(32)', 'NO', '', None, '')]

문제 2-2. origin_terror_data 테이블에서 Region 및 Country 데이터를 추출하여 문제 2-1.에서 생성한 테이블에 입력하고 확인하세요.   

- 중복을 제거한 Unique Data 를 추출하세요. 
- 데이터를 INSERT 할때 순서를 고민하세요. 

제출 3. Table 생성 및 조회 결과 : DESC Region, DESC Country

제출 4. 관련 코드 및 실행 결과 (ipynb)

In [ ]:
# Region 데이터 추출하기

[(1, 'North America'), (2, 'Central America & Caribbean'), (3, 'South America'), (4, 'East Asia'), (5, 'Southeast Asia'), (6, 'South Asia'), (7, 'Central Asia'), (8, 'Western Europe'), (9, 'Eastern Europe'), (10, 'Middle East & North Africa'), (11, 'Sub-Saharan Africa'), (12, 'Australasia & Oceania')]

In [ ]:
# Region 테이블에 INSERT

[(12,)]

In [ ]:
# Country 데이터 추출하기

[(4, 6, 'Afghanistan'), (5, 9, 'Albania'), (6, 10, 'Algeria'), (7, 8, 'Andorra'), (8, 11, 'Angola'), (10, 2, 'Antigua and Barbuda'), (11, 3, 'Argentina'), (12, 7, 'Armenia'), (14, 12, 'Australia'), (15, 8, 'Austria'), (16, 7, 'Azerbaijan'), (17, 2, 'Bahamas'), (18, 10, 'Bahrain'), (19, 6, 'Bangladesh'), (20, 2, 'Barbados'), (21, 8, 'Belgium'), (22, 2, 'Belize'), (23, 11, 'Benin'), (25, 6, 'Bhutan'), (26, 3, 'Bolivia'), (28, 9, 'Bosnia-Herzegovina'), (29, 11, 'Botswana'), (30, 3, 'Brazil'), (31, 5, 'Brunei'), (32, 9, 'Bulgaria'), (33, 11, 'Burkina Faso'), (34, 11, 'Burundi'), (35, 9, 'Belarus'), (36, 5, 'Cambodia'), (37, 11, 'Cameroon'), (38, 1, 'Canada'), (41, 11, 'Central African Republic'), (42, 11, 'Chad'), (43, 3, 'Chile'), (44, 4, 'China'), (45, 3, 'Colombia'), (46, 11, 'Comoros'), (47, 11, 'Republic of the Congo'), (49, 2, 'Costa Rica'), (50, 9, 'Croatia'), (51, 2, 'Cuba'), (53, 8, 'Cyprus'), (54, 9, 'Czech Republic'), (55, 8, 'Denmark'), (56, 11, 'Djibouti'), (57, 2, 'Dominica'), (58, 2, 'Dominican Republic'), (59, 3, 'Ecuador'), (60, 10, 'Egypt'), (61, 2, 'El Salvador'), (62, 11, 'Equatorial Guinea'), (63, 11, 'Eritrea'), (64, 9, 'Estonia'), (65, 11, 'Ethiopia'), (66, 3, 'Falkland Islands'), (67, 12, 'Fiji'), (68, 8, 'Finland'), (69, 8, 'France'), (70, 3, 'French Guiana'), (71, 12, 'French Polynesia'), (72, 11, 'Gabon'), (73, 11, 'Gambia'), (74, 7, 'Georgia'), (75, 8, 'Germany'), (76, 11, 'Ghana'), (78, 8, 'Greece'), (80, 2, 'Grenada'), (81, 2, 'Guadeloupe'), (83, 2, 'Guatemala'), (84, 11, 'Guinea'), (85, 11, 'Guinea-Bissau'), (86, 3, 'Guyana'), (87, 2, 'Haiti'), (88, 2, 'Honduras'), (89, 4, 'Hong Kong'), (90, 9, 'Hungary'), (91, 8, 'Iceland'), (92, 6, 'India'), (93, 5, 'Indonesia'), (94, 10, 'Iran'), (95, 10, 'Iraq'), (96, 8, 'Ireland'), (97, 10, 'Israel'), (98, 8, 'Italy'), (99, 11, 'Ivory Coast'), (100, 2, 'Jamaica'), (101, 4, 'Japan'), (102, 10, 'Jordan'), (103, 7, 'Kazakhstan'), (104, 11, 'Kenya'), (106, 10, 'Kuwait'), (107, 7, 'Kyrgyzstan'), (108, 5, 'Laos'), (109, 9, 'Latvia'), (110, 10, 'Lebanon'), (111, 11, 'Lesotho'), (112, 11, 'Liberia'), (113, 10, 'Libya'), (115, 9, 'Lithuania'), (116, 8, 'Luxembourg'), (117, 4, 'Macau'), (118, 9, 'Macedonia'), (119, 11, 'Madagascar'), (120, 11, 'Malawi'), (121, 5, 'Malaysia'), (122, 6, 'Maldives'), (123, 11, 'Mali'), (124, 8, 'Malta'), (127, 2, 'Martinique'), (128, 11, 'Mauritania'), (129, 6, 'Mauritius'), (130, 1, 'Mexico'), (132, 9, 'Moldova'), (136, 10, 'Morocco'), (137, 11, 'Mozambique'), (138, 5, 'Myanmar'), (139, 11, 'Namibia'), (141, 6, 'Nepal'), (142, 8, 'Netherlands'), (143, 12, 'New Caledonia'), (144, 12, 'New Zealand'), (145, 2, 'Nicaragua'), (146, 11, 'Niger'), (147, 11, 'Nigeria'), (149, 4, 'North Korea'), (151, 8, 'Norway'), (153, 6, 'Pakistan'), (155, 10, 'West Bank and Gaza Strip'), (156, 2, 'Panama'), (157, 12, 'Papua New Guinea'), (158, 3, 'Paraguay'), (159, 3, 'Peru'), (160, 5, 'Philippines'), (161, 9, 'Poland'), (162, 8, 'Portugal'), (164, 10, 'Qatar'), (166, 9, 'Romania'), (167, 9, 'Russia'), (168, 11, 'Rwanda'), (173, 10, 'Saudi Arabia'), (174, 11, 'Senegal'), (175, 9, 'Serbia-Montenegro'), (176, 11, 'Seychelles'), (177, 11, 'Sierra Leone'), (178, 5, 'Singapore'), (179, 9, 'Slovak Republic'), (180, 9, 'Slovenia'), (181, 12, 'Solomon Islands'), (182, 11, 'Somalia'), (183, 11, 'South Africa'), (184, 4, 'South Korea'), (185, 8, 'Spain'), (186, 6, 'Sri Lanka'), (189, 2, 'St. Kitts and Nevis'), (190, 2, 'St. Lucia'), (195, 11, 'Sudan'), (196, 3, 'Suriname'), (197, 11, 'Swaziland'), (198, 8, 'Sweden'), (199, 8, 'Switzerland'), (200, 10, 'Syria'), (201, 4, 'Taiwan'), (202, 7, 'Tajikistan'), (203, 11, 'Tanzania'), (204, 11, 'Togo'), (205, 5, 'Thailand'), (207, 2, 'Trinidad and Tobago'), (208, 10, 'Tunisia'), (209, 10, 'Turkey'), (210, 7, 'Turkmenistan'), (213, 11, 'Uganda'), (214, 9, 'Ukraine'), (215, 10, 'United Arab Emirates'), (217, 1, 'United States'), (218, 3, 'Uruguay'), (219, 7, 'Uzbekistan'), (220, 12, 'Vanuatu'), (221, 8, 'Vatican City'), (222, 3, 'Venezuela'), (223, 5, 'Vietnam'), (226, 12, 'Wallis and Futuna'), (228, 10, 'Yemen'), (229, 11, 'Democratic Republic of the Congo'), (230, 11, 'Zambia'), (231, 11, 'Zimbabwe'), (235, 9, 'Yugoslavia'), (236, 9, 'Czechoslovakia'), (347, 5, 'East Timor'), (349, 10, 'Western Sahara'), (359, 9, 'Soviet Union'), (362, 8, 'West Germany (FRG)'), (377, 10, 'North Yemen'), (403, 11, 'Rhodesia'), (406, 10, 'South Yemen'), (422, 10, 'International'), (428, 5, 'South Vietnam'), (499, 9, 'East Germany (GDR)'), (532, 12, 'New Hebrides'), (603, 8, 'United Kingdom'), (604, 11, 'Zaire'), (605, 11, "People's Republic of the Congo"), (1001, 9, 'Serbia'), (1002, 9, 'Montenegro'), (1003, 9, 'Kosovo'), (1004, 11, 'South Sudan')]

In [ ]:
# Country 테이블에 INSERT

(4, 6, 'Afghanistan')
(5, 9, 'Albania')
(6, 10, 'Algeria')
(7, 8, 'Andorra')
(8, 11, 'Angola')
(10, 2, 'Antigua and Barbuda')
(11, 3, 'Argentina')
(12, 7, 'Armenia')
(14, 12, 'Australia')
(15, 8, 'Austria')
(16, 7, 'Azerbaijan')
(17, 2, 'Bahamas')
(18, 10, 'Bahrain')
(19, 6, 'Bangladesh')
(20, 2, 'Barbados')
(21, 8, 'Belgium')
(22, 2, 'Belize')
(23, 11, 'Benin')
(25, 6, 'Bhutan')
(26, 3, 'Bolivia')
(28, 9, 'Bosnia-Herzegovina')
(29, 11, 'Botswana')
(30, 3, 'Brazil')
(31, 5, 'Brunei')
(32, 9, 'Bulgaria')
(33, 11, 'Burkina Faso')
(34, 11, 'Burundi')
(35, 9, 'Belarus')
(36, 5, 'Cambodia')
(37, 11, 'Cameroon')
(38, 1, 'Canada')
(41, 11, 'Central African Republic')
(42, 11, 'Chad')
(43, 3, 'Chile')
(44, 4, 'China')
(45, 3, 'Colombia')
(46, 11, 'Comoros')
(47, 11, 'Republic of the Congo')
(49, 2, 'Costa Rica')
(50, 9, 'Croatia')
(51, 2, 'Cuba')
(53, 8, 'Cyprus')
(54, 9, 'Czech Republic')
(55, 8, 'Denmark')
(56, 11, 'Djibouti')
(57, 2, 'Dominica')
(58, 2, 'Dominican Republic')
(59, 3, 'Ecuador')
(60, 10, 'Egypt')
(61, 2, 'El Salvador')
(62, 11, 'Equatorial Guinea')
(63, 11, 'Eritrea')
(64, 9, 'Estonia')
(65, 11, 'Ethiopia')
(66, 3, 'Falkland Islands')
(67, 12, 'Fiji')
(68, 8, 'Finland')
(69, 8, 'France')
(70, 3, 'French Guiana')
(71, 12, 'French Polynesia')
(72, 11, 'Gabon')
(73, 11, 'Gambia')
(74, 7, 'Georgia')
(75, 8, 'Germany')
(76, 11, 'Ghana')
(78, 8, 'Greece')
(80, 2, 'Grenada')
(81, 2, 'Guadeloupe')
(83, 2, 'Guatemala')
(84, 11, 'Guinea')
(85, 11, 'Guinea-Bissau')
(86, 3, 'Guyana')
(87, 2, 'Haiti')
(88, 2, 'Honduras')
(89, 4, 'Hong Kong')
(90, 9, 'Hungary')
(91, 8, 'Iceland')
(92, 6, 'India')
(93, 5, 'Indonesia')
(94, 10, 'Iran')
(95, 10, 'Iraq')
(96, 8, 'Ireland')
(97, 10, 'Israel')
(98, 8, 'Italy')
(99, 11, 'Ivory Coast')
(100, 2, 'Jamaica')
(101, 4, 'Japan')
(102, 10, 'Jordan')
(103, 7, 'Kazakhstan')
(104, 11, 'Kenya')
(106, 10, 'Kuwait')
(107, 7, 'Kyrgyzstan')
(108, 5, 'Laos')
(109, 9, 'Latvia')
(110, 10, 'Lebanon')
(111, 11, 'Lesotho')
(112, 11, 'Liberia')
(113, 10, 'Libya')
(115, 9, 'Lithuania')
(116, 8, 'Luxembourg')
(117, 4, 'Macau')
(118, 9, 'Macedonia')
(119, 11, 'Madagascar')
(120, 11, 'Malawi')
(121, 5, 'Malaysia')
(122, 6, 'Maldives')
(123, 11, 'Mali')
(124, 8, 'Malta')
(127, 2, 'Martinique')
(128, 11, 'Mauritania')
(129, 6, 'Mauritius')
(130, 1, 'Mexico')
(132, 9, 'Moldova')
(136, 10, 'Morocco')
(137, 11, 'Mozambique')
(138, 5, 'Myanmar')
(139, 11, 'Namibia')
(141, 6, 'Nepal')
(142, 8, 'Netherlands')
(143, 12, 'New Caledonia')
(144, 12, 'New Zealand')
(145, 2, 'Nicaragua')
(146, 11, 'Niger')
(147, 11, 'Nigeria')
(149, 4, 'North Korea')
(151, 8, 'Norway')
(153, 6, 'Pakistan')
(155, 10, 'West Bank and Gaza Strip')
(156, 2, 'Panama')
(157, 12, 'Papua New Guinea')
(158, 3, 'Paraguay')
(159, 3, 'Peru')
(160, 5, 'Philippines')
(161, 9, 'Poland')
(162, 8, 'Portugal')
(164, 10, 'Qatar')
(166, 9, 'Romania')
(167, 9, 'Russia')
(168, 11, 'Rwanda')
(173, 10, 'Saudi Arabia')
(174, 11, 'Senegal')
(175, 9, 'Serbia-Montenegro')
(176, 11, 'Seychelles')
(177, 11, 'Sierra Leone')
(178, 5, 'Singapore')
(179, 9, 'Slovak Republic')
(180, 9, 'Slovenia')
(181, 12, 'Solomon Islands')
(182, 11, 'Somalia')
(183, 11, 'South Africa')
(184, 4, 'South Korea')
(185, 8, 'Spain')
(186, 6, 'Sri Lanka')
(189, 2, 'St. Kitts and Nevis')
(190, 2, 'St. Lucia')
(195, 11, 'Sudan')
(196, 3, 'Suriname')
(197, 11, 'Swaziland')
(198, 8, 'Sweden')
(199, 8, 'Switzerland')
(200, 10, 'Syria')
(201, 4, 'Taiwan')
(202, 7, 'Tajikistan')
(203, 11, 'Tanzania')
(204, 11, 'Togo')
(205, 5, 'Thailand')
(207, 2, 'Trinidad and Tobago')
(208, 10, 'Tunisia')
(209, 10, 'Turkey')
(210, 7, 'Turkmenistan')
(213, 11, 'Uganda')
(214, 9, 'Ukraine')
(215, 10, 'United Arab Emirates')
(217, 1, 'United States')
(218, 3, 'Uruguay')
(219, 7, 'Uzbekistan')
(220, 12, 'Vanuatu')
(221, 8, 'Vatican City')
(222, 3, 'Venezuela')
(223, 5, 'Vietnam')
(226, 12, 'Wallis and Futuna')
(228, 10, 'Yemen')
(229, 11, 'Democratic Republic of the Congo')
(230, 11, 'Zambia')
(231, 11, 'Zimbabwe')
(235, 9, 'Yugoslavia')
(236, 9, 'Czechoslovakia')
(347, 5, 'East Timor')
(349, 10, 'Western Sahara')
(359, 9, 'Soviet Union')
(362, 8, 'West Germany (FRG)')
(377, 10, 'North Yemen')
(403, 11, 'Rhodesia')
(406, 10, 'South Yemen')
(422, 10, 'International')
(428, 5, 'South Vietnam')
(499, 9, 'East Germany (GDR)')
(532, 12, 'New Hebrides')
(603, 8, 'United Kingdom')
(604, 11, 'Zaire')
(605, 11, "People's Republic of the Congo")
(1001, 9, 'Serbia')
(1002, 9, 'Montenegro')
(1003, 9, 'Kosovo')
(1004, 11, 'South Sudan')

문제 3.  origin_terror_data 에서 attack type, target type, weapon type 관련 데이터는 code 와 txt 속성으로 정의되어 있습니다.  

문제 3-1. AttackType, TargetType, WeaponType 테이블을 그림과 같은 구조로 생성하세요. 

- origin_terror_data 를 분석하여 각 테이블의 데이터 타입을 정의하세요. 
- 문자열 데이터의 사이즈는 origin_terror_data 테이블에서 해당 데이터의 max length 를 쿼리로 체크하여 정의하세요. 

참고>
- AttackType.attacktype_code    = origin_terror_data.attacktype1
- AttackType.attacktype_desc    = origin_terror_data.attacktype1_txt 
- TargetType.targtype_code      = origin_terror_data.targtype1
- TargetType.targtype_desc      = origin_terror_data.targtype1_txt
- WeaponType.weaptype_code      = origin_terror_data.weaptype1
- WeaponType.weaptype_desc      = origin_terror_data.weaptype1_txt

In [ ]:
# attacktype1 의 max length 체크

[(35,)]

In [ ]:
# AttackType 테이블 만들기

[('attacktype_code', b'int', 'NO', 'PRI', None, ''), ('attacktype_desc', b'varchar(35)', 'NO', '', None, '')]

In [ ]:
# targettype1 의 max length 체크

[(30,)]

In [ ]:
# TargetType 테이블 만들기

[('targtype_code', b'int', 'NO', 'PRI', None, ''), ('targtype_desc', b'varchar(32)', 'NO', '', None, '')]

In [ ]:
# weaptype1 의 max length 체크

[(75,)]

In [ ]:
# WeaponType 테이블 만들기

[('weaptype_code', b'int', 'NO', 'PRI', None, ''), ('weaptype_desc', b'varchar(80)', 'NO', '', None, '')]

문제 3-2. origin_terror_data 테이블에서 Attack Type, Target Type, Weapon Type 데이터를 추출하여 문제 3-1.에서 생성한 테이블에 입력하고 확인하세요.   

- 중복을 제거한 Unique Data 를 추출하세요. 
- 데이터를 INSERT 할때 순서를 고민하세요.

제출 5. Table 생성 및 조회 결과 : DESC AttackType, DESC TargetType, WeaponType

제출 6. 관련 코드 및 실행 결과 (ipynb)

In [ ]:
# attacktype1 데이터 추출하기

[(1, 'Assassination'), (2, 'Armed Assault'), (3, 'Bombing/Explosion'), (4, 'Hijacking'), (5, 'Hostage Taking (Barricade Incident)'), (6, 'Hostage Taking (Kidnapping)'), (7, 'Facility/Infrastructure Attack'), (8, 'Unarmed Assault'), (9, 'Unknown')]

In [ ]:
# AttackType 테이블에 INSERT

(1, 'Assassination')
(2, 'Armed Assault')
(3, 'Bombing/Explosion')
(4, 'Hijacking')
(5, 'Hostage Taking (Barricade Incident)')
(6, 'Hostage Taking (Kidnapping)')
(7, 'Facility/Infrastructure Attack')
(8, 'Unarmed Assault')
(9, 'Unknown')

In [ ]:
# targtype1 데이터 추출하기

(1, 'Business')
(2, 'Government (General)')
(3, 'Police')
(4, 'Military')
(5, 'Abortion Related')
(6, 'Airports & Aircraft')
(7, 'Government (Diplomatic)')
(8, 'Educational Institution')
(9, 'Food or Water Supply')
(10, 'Journalists & Media')
(11, 'Maritime')
(12, 'NGO')
(13, 'Other')
(14, 'Private Citizens & Property')
(15, 'Religious Figures/Institutions')
(16, 'Telecommunication')
(17, 'Terrorists/Non-State Militia')
(18, 'Tourists')
(19, 'Transportation')
(20, 'Unknown')
(21, 'Utilities')
(22, 'Violent Political Party')

In [ ]:
# TargetType 테이블에 INSERT 

# ALTER TABLE tablename
# CHANGE COLUMN old_columnname new_columnname new_datatype;

(1, 'Business')
(2, 'Government (General)')
(3, 'Police')
(4, 'Military')
(5, 'Abortion Related')
(6, 'Airports & Aircraft')
(7, 'Government (Diplomatic)')
(8, 'Educational Institution')
(9, 'Food or Water Supply')
(10, 'Journalists & Media')
(11, 'Maritime')
(12, 'NGO')
(13, 'Other')
(14, 'Private Citizens & Property')
(15, 'Religious Figures/Institutions')
(16, 'Telecommunication')
(17, 'Terrorists/Non-State Militia')
(18, 'Tourists')
(19, 'Transportation')
(20, 'Unknown')
(21, 'Utilities')
(22, 'Violent Political Party')

In [ ]:
# weaptype1 데이터 추출하기

(1, 'Biological')
(2, 'Chemical')
(3, 'Radiological')
(5, 'Firearms')
(6, 'Explosives')
(7, 'Fake Weapons')
(8, 'Incendiary')
(9, 'Melee')
(10, 'Vehicle (not to include vehicle-borne explosives, i.e., car or truck bombs)')
(11, 'Sabotage Equipment')
(12, 'Other')
(13, 'Unknown')

In [ ]:
# WeaponType 테이블에 INSERT

(1, 'Biological')
(2, 'Chemical')
(3, 'Radiological')
(5, 'Firearms')
(6, 'Explosives')
(7, 'Fake Weapons')
(8, 'Incendiary')
(9, 'Melee')
(10, 'Vehicle (not to include vehicle-borne explosives, i.e., car or truck bombs)')
(11, 'Sabotage Equipment')
(12, 'Other')
(13, 'Unknown')

문제 4. TerrorData 테이블을 만들고 앞서 만들어둔 테이블과 관계를 설정하도록 하겠습니다. 
문제 4-1. TerrorData 테이블을 앞의 그림과 같이 생성하세요. 

- origin_terror_data 를 분석하여 데이터 타입을 정의하세요. 
- 문자열 데이터의 사이즈는 origin_terror_data 테이블에서 해당 데이터의 max length 를 쿼리로 체크하여 정의하세요. 

참고> 
- TerrorData.terror id : Auto Increment 
- TerrorData.city_name    = origin_terror_data.city
- TerrorData.target       = orgin_terror_data.target1
- TerrorData.group_name   = origin_terror_data.gname
- TerrorData.kill_count   = origin_terror_data.nkill
- TerrorData.wound_count  = origin_terror_data.nwound
- TerrorData.motive       = origin_terror_data.motive
- TerrorData.summary      = origin_terror_data.summary
- TerrorData.latitude     = origin_terror_data_latitude
- TerrorData.longitude    = origin_terror_data_longitude
- TerrorData.terror_date  = origin_terror_data.iyear + origin_terror_Data.imonth + origin_terror_data.iday (Date Type)

In [ ]:
# max length 체크 

# city 의 max length 체크 


# target1 의 max length 체크 


# gname 의 max length 체크 


# summary 의 max length 체크 


# motive 의 max length 체크 
 

# city 의 max length 체크 


# target1 의 max length 체크 


# gname 의 max length 체크 


# summary 의 max length 체크 


# motive 의 max length 체크

city : 65
target1 : 343
gname : 112
summary : 2431
motive : 899
city : 65
target1 : 343
gname : 112
summary : 2431
motive : 899

In [ ]:
# TerrorData 테이블 만들기

('terror_id', b'int', 'NO', 'PRI', None, 'auto_increment')
('terror_date', b'date', 'NO', '', None, '')
('region_code', b'int', 'NO', 'MUL', None, '')
('country_code', b'int', 'NO', 'MUL', None, '')
('city', b'varchar(65)', 'YES', '', None, '')
('target', b'varchar(350)', 'YES', '', None, '')
('group_name', b'varchar(120)', 'YES', '', None, '')
('targtype_code', b'int', 'NO', 'MUL', None, '')
('attacktype_code', b'int', 'NO', 'MUL', None, '')
('weaptype_code', b'int', 'NO', 'MUL', None, '')
('kill_count', b'int', 'NO', '', b'0', '')
('wound_count', b'int', 'NO', '', b'0', '')
('motive', b'varchar(900)', 'YES', '', None, '')
('summary', b'varchar(2450)', 'YES', '', None, '')
('latitude', b'decimal(16,14)', 'YES', '', None, '')
('longitude', b'decimal(17,14)', 'YES', '', None, '')

문제 4-2. origin_terror_data 테이블에서 Terror Data를 추출하여 문제 4-1.에서 생성한 테이블에 입력하고 확인하세요.

- 앞서 생성한 Region, Country, AttackType, TargetType, WeaponType 데이터와의 관계에 주의하세요.
- Count 값을 가지는 칼럼의 값이 null 인 경우, 0으로 예외처리 해주세요.
- 위도 경도 데이터 중 범위를 넘어서는 데이터가 존재합니다. 이 경우, null 값으로 예외처리 해주세요. (위도 경도 범위 : 구글링해보세요.)
- terror_date 칼럼의 경우, origin_terror_data 의 연, 월, 일 정보를 조합하여 date type 으로 정의해주세요. (Format : ‘YYYY-mm-dd’)
- origin_terror_data 의 월, 일 정보중 값이 0 인 경우 date type 으로 변환되지 않습니다. 이 경우, 1 로 예외처리 해주세요.
- 데이터 입력까지 완료한 이후, origin_terror_data 테이블을 삭제하고 확인하세요.

제출 7. Table 생성 및 조회 결과 : DESC TerrorData, SELECT COUNT(*) FROM TerrorData 

제출 8. 관련 코드 및 실행 결과 (ipynb)

In [ ]:
# data 전처리 
# date type : year + month + day (month = 0 인경우 1, day = 0 인경우 1)
# nkill, nwound : null 인 경우 0
# longitude range : 180 ~ -180
# check : select longitude from origin_terror_data where longitude < -180 or longitude > 180; '-86185896'

# terror 데이터 추출하기

In [ ]:
# TerrorData 테이블에 INSERT

[(181691,)]

문제 5. TerrorData 의 전체 기간에서 테러의 숫자를 연도별로 집계하여 연도별 테러 발생 건수를 조회하세요. 

- Python 코드에서 SQL 쿼리를 사용하여 조회합니다. 

제출 9. 관련 코드 및 실행 결과 (ipynb)

('1970', 651)
('1971', 471)
('1972', 568)
('1973', 473)
('1974', 581)
('1975', 740)
('1976', 923)
('1977', 1319)
('1978', 1526)
('1979', 2662)
('1980', 2662)
('1981', 2586)
('1986', 2860)
('1982', 2544)
('1983', 2870)
('1984', 3495)
('1985', 2915)
('1987', 3183)
('1988', 3721)
('1989', 4324)
('1990', 3887)
('1991', 4683)
('1992', 5071)
('1994', 3456)
('1995', 3081)
('1996', 3058)
('1997', 3197)
('1998', 934)
('1999', 1395)
('2000', 1814)
('2001', 1906)
('2002', 1333)
('2003', 1278)
('2004', 1166)
('2005', 2017)
('2006', 2758)
('2007', 3242)
('2008', 4805)
('2009', 4721)
('2010', 4826)
('2011', 5076)
('2012', 8522)
('2013', 12036)
('2014', 16903)
('2015', 14965)
('2016', 13587)
('2017', 10900)

문제 6. TerrorData 에서 테러가 가장 많이 일어난 순서로 국가를 정렬하여 상위 10위 국가를 조회하세요. 

- Python 코드에서 SQL 쿼리를 사용하여 조회합니다. 
- 국가 정보는 이름으로 출력하세요.

제출 10. 관련 코드 및 실행 결과 (ipynb)

In [ ]:
# 테러가 많이 일어난 상위 10위 Region


# 테러가 많이 일어난 상위 10위 Country

('Middle East & North Africa', 50474)
('South Asia', 44974)
('South America', 18978)
('Sub-Saharan Africa', 17550)
('Western Europe', 16639)
('Southeast Asia', 12485)
('Central America & Caribbean', 10344)
('Eastern Europe', 5144)
('North America', 3456)
('East Asia', 802)
('Iraq', 24636)
('Pakistan', 14368)
('Afghanistan', 12731)
('India', 11960)
('Colombia', 8306)
('Philippines', 6908)
('Peru', 6096)
('El Salvador', 5320)
('United Kingdom', 5235)
('Turkey', 4292)

문제 7. TerrorData 에서 테러가 가장 많이 일어난 상위 10위 국가에 대해 국가별로 사망자수와 부상자수, 사상자수(사망자수 + 부상자수)를 조회하세요. 

- Python 코드에서 SQL 쿼리를 사용하여 조회합니다. 
- 국가 정보는 이름으로 출력하세요.

제출 11. 관련 코드 및 실행 결과 (ipynb)

('Iraq', 24636, Decimal('78589'), Decimal('134690'), Decimal('213279'))
('Pakistan', 14368, Decimal('23822'), Decimal('42038'), Decimal('65860'))
('Afghanistan', 12731, Decimal('39384'), Decimal('44277'), Decimal('83661'))
('India', 11960, Decimal('19341'), Decimal('28980'), Decimal('48321'))
('Colombia', 8306, Decimal('14698'), Decimal('10328'), Decimal('25026'))
('Philippines', 6908, Decimal('9559'), Decimal('13367'), Decimal('22926'))
('Peru', 6096, Decimal('12771'), Decimal('4078'), Decimal('16849'))
('El Salvador', 5320, Decimal('12053'), Decimal('5062'), Decimal('17115'))
('United Kingdom', 5235, Decimal('3410'), Decimal('6106'), Decimal('9516'))
('Turkey', 4292, Decimal('6888'), Decimal('9899'), Decimal('16787'))

문제 8. 지역별 테러 공격 형태에 따른 사망자수, 부상자수, 사상자수를 조회하세요.

- Python 코드에서 SQL 쿼리를 사용하여 조회합니다. 
- 지역 정보(Region)는 이름으로 출력하세요.

제출 12. 관련 코드 및 실행 결과 (ipynb)

In [ ]:
# 지역별 테러 공격 형태에 따른 사망자와 사상자 수

('Central America & Caribbean', 'Assassination', 1254, 1254)
('Southeast Asia', 'Assassination', 1369, 1369)
('South America', 'Assassination', 2745, 2745)
('North America', 'Assassination', 255, 255)
('Middle East & North Africa', 'Assassination', 4206, 4206)
('South Asia', 'Assassination', 4301, 4301)
('Western Europe', 'Assassination', 2938, 2938)
('Sub-Saharan Africa', 'Assassination', 1638, 1638)
('Australasia & Oceania', 'Assassination', 36, 36)
('East Asia', 'Assassination', 55, 55)
('Eastern Europe', 'Assassination', 400, 400)
('Central Asia', 'Assassination', 115, 115)
('North America', 'Armed Assault', 448, 448)
('South America', 'Armed Assault', 3875, 3875)
('Western Europe', 'Armed Assault', 1724, 1724)
('Middle East & North Africa', 'Armed Assault', 9273, 9273)
('Central America & Caribbean', 'Armed Assault', 4361, 4361)
('Southeast Asia', 'Armed Assault', 4022, 4022)
('Australasia & Oceania', 'Armed Assault', 51, 51)
('Sub-Saharan Africa', 'Armed Assault', 6004, 6004)
('Eastern Europe', 'Armed Assault', 1274, 1274)
('East Asia', 'Armed Assault', 117, 117)
('South Asia', 'Armed Assault', 11404, 11404)
('Central Asia', 'Armed Assault', 116, 116)
('Western Europe', 'Bombing/Explosion', 8508, 8508)
('North America', 'Bombing/Explosion', 1534, 1534)
('Eastern Europe', 'Bombing/Explosion', 2766, 2766)
('Southeast Asia', 'Bombing/Explosion', 4818, 4818)
('Middle East & North Africa', 'Bombing/Explosion', 30908, 30908)
('South America', 'Bombing/Explosion', 9039, 9039)
('Australasia & Oceania', 'Bombing/Explosion', 75, 75)
('East Asia', 'Bombing/Explosion', 330, 330)
('Central America & Caribbean', 'Bombing/Explosion', 3239, 3239)
('South Asia', 'Bombing/Explosion', 21246, 21246)
('Sub-Saharan Africa', 'Bombing/Explosion', 5557, 5557)
('Central Asia', 'Bombing/Explosion', 235, 235)
('Western Europe', 'Hijacking', 67, 67)
('North America', 'Hijacking', 18, 18)
('East Asia', 'Hijacking', 18, 18)
('South America', 'Hijacking', 67, 67)
('Middle East & North Africa', 'Hijacking', 138, 138)
('Sub-Saharan Africa', 'Hijacking', 136, 136)
('Southeast Asia', 'Hijacking', 59, 59)
('South Asia', 'Hijacking', 93, 93)
('Central America & Caribbean', 'Hijacking', 26, 26)
('Eastern Europe', 'Hijacking', 26, 26)
('Central Asia', 'Hijacking', 8, 8)
('Australasia & Oceania', 'Hijacking', 3, 3)
('Middle East & North Africa', 'Hostage Taking (Barricade Incident)', 100, 100)
('South America', 'Hostage Taking (Barricade Incident)', 234, 234)
('North America', 'Hostage Taking (Barricade Incident)', 67, 67)
('Southeast Asia', 'Hostage Taking (Barricade Incident)', 67, 67)
('Western Europe', 'Hostage Taking (Barricade Incident)', 89, 89)
('Central America & Caribbean', 'Hostage Taking (Barricade Incident)', 187, 187)
('Sub-Saharan Africa', 'Hostage Taking (Barricade Incident)', 95, 95)
('South Asia', 'Hostage Taking (Barricade Incident)', 120, 120)
('East Asia', 'Hostage Taking (Barricade Incident)', 3, 3)
('Eastern Europe', 'Hostage Taking (Barricade Incident)', 21, 21)
('Australasia & Oceania', 'Hostage Taking (Barricade Incident)', 6, 6)
('Central Asia', 'Hostage Taking (Barricade Incident)', 2, 2)
('North America', 'Hostage Taking (Kidnapping)', 123, 123)
('South America', 'Hostage Taking (Kidnapping)', 1414, 1414)
('Western Europe', 'Hostage Taking (Kidnapping)', 269, 269)
('Central America & Caribbean', 'Hostage Taking (Kidnapping)', 501, 501)
('Sub-Saharan Africa', 'Hostage Taking (Kidnapping)', 1872, 1872)
('Middle East & North Africa', 'Hostage Taking (Kidnapping)', 2666, 2666)
('Southeast Asia', 'Hostage Taking (Kidnapping)', 744, 744)
('Eastern Europe', 'Hostage Taking (Kidnapping)', 220, 220)
('South Asia', 'Hostage Taking (Kidnapping)', 3277, 3277)
('Australasia & Oceania', 'Hostage Taking (Kidnapping)', 13, 13)
('Central Asia', 'Hostage Taking (Kidnapping)', 45, 45)
('East Asia', 'Hostage Taking (Kidnapping)', 14, 14)
('East Asia', 'Facility/Infrastructure Attack', 200, 200)
('North America', 'Facility/Infrastructure Attack', 906, 906)
('Eastern Europe', 'Facility/Infrastructure Attack', 260, 260)
('Western Europe', 'Facility/Infrastructure Attack', 2631, 2631)
('South America', 'Facility/Infrastructure Attack', 803, 803)
('Middle East & North Africa', 'Facility/Infrastructure Attack', 1115, 1115)
('Australasia & Oceania', 'Facility/Infrastructure Attack', 71, 71)
('Southeast Asia', 'Facility/Infrastructure Attack', 948, 948)
('Central America & Caribbean', 'Facility/Infrastructure Attack', 403, 403)
('South Asia', 'Facility/Infrastructure Attack', 2189, 2189)
('Sub-Saharan Africa', 'Facility/Infrastructure Attack', 810, 810)
('Central Asia', 'Facility/Infrastructure Attack', 20, 20)
('North America', 'Unarmed Assault', 73, 73)
('Western Europe', 'Unarmed Assault', 148, 148)
('Central America & Caribbean', 'Unarmed Assault', 19, 19)
('East Asia', 'Unarmed Assault', 42, 42)
('Middle East & North Africa', 'Unarmed Assault', 177, 177)
('South Asia', 'Unarmed Assault', 323, 323)
('South America', 'Unarmed Assault', 47, 47)
('Sub-Saharan Africa', 'Unarmed Assault', 83, 83)
('Southeast Asia', 'Unarmed Assault', 25, 25)
('Eastern Europe', 'Unarmed Assault', 62, 62)
('Central Asia', 'Unarmed Assault', 5, 5)
('Australasia & Oceania', 'Unarmed Assault', 11, 11)
('Sub-Saharan Africa', 'Unknown', 1355, 1355)
('Southeast Asia', 'Unknown', 433, 433)
('Middle East & North Africa', 'Unknown', 1891, 1891)
('South America', 'Unknown', 754, 754)
('North America', 'Unknown', 32, 32)
('Western Europe', 'Unknown', 265, 265)
('South Asia', 'Unknown', 2021, 2021)
('Central America & Caribbean', 'Unknown', 354, 354)
('East Asia', 'Unknown', 23, 23)
('Eastern Europe', 'Unknown', 115, 115)
('Australasia & Oceania', 'Unknown', 16, 16)
('Central Asia', 'Unknown', 17, 17)
('Middle East & North Africa', 'Bombing/Explosion', 30908, 30908, 30908)
('South Asia', 'Bombing/Explosion', 21246, 21246, 21246)
('South Asia', 'Armed Assault', 11404, 11404, 11404)
('Middle East & North Africa', 'Armed Assault', 9273, 9273, 9273)
('South America', 'Bombing/Explosion', 9039, 9039, 9039)
('Western Europe', 'Bombing/Explosion', 8508, 8508, 8508)
('Sub-Saharan Africa', 'Armed Assault', 6004, 6004, 6004)
('Sub-Saharan Africa', 'Bombing/Explosion', 5557, 5557, 5557)
('Southeast Asia', 'Bombing/Explosion', 4818, 4818, 4818)
('Central America & Caribbean', 'Armed Assault', 4361, 4361, 4361)
('South Asia', 'Assassination', 4301, 4301, 4301)
('Middle East & North Africa', 'Assassination', 4206, 4206, 4206)
('Southeast Asia', 'Armed Assault', 4022, 4022, 4022)
('South America', 'Armed Assault', 3875, 3875, 3875)
('South Asia', 'Hostage Taking (Kidnapping)', 3277, 3277, 3277)
('Central America & Caribbean', 'Bombing/Explosion', 3239, 3239, 3239)
('Western Europe', 'Assassination', 2938, 2938, 2938)
('Eastern Europe', 'Bombing/Explosion', 2766, 2766, 2766)
('South America', 'Assassination', 2745, 2745, 2745)
('Middle East & North Africa', 'Hostage Taking (Kidnapping)', 2666, 2666, 2666)
('Western Europe', 'Facility/Infrastructure Attack', 2631, 2631, 2631)
('South Asia', 'Facility/Infrastructure Attack', 2189, 2189, 2189)
('South Asia', 'Unknown', 2021, 2021, 2021)
('Middle East & North Africa', 'Unknown', 1891, 1891, 1891)
('Sub-Saharan Africa', 'Hostage Taking (Kidnapping)', 1872, 1872, 1872)
('Western Europe', 'Armed Assault', 1724, 1724, 1724)
('Sub-Saharan Africa', 'Assassination', 1638, 1638, 1638)
('North America', 'Bombing/Explosion', 1534, 1534, 1534)
('South America', 'Hostage Taking (Kidnapping)', 1414, 1414, 1414)
('Southeast Asia', 'Assassination', 1369, 1369, 1369)
('Sub-Saharan Africa', 'Unknown', 1355, 1355, 1355)
('Eastern Europe', 'Armed Assault', 1274, 1274, 1274)
('Central America & Caribbean', 'Assassination', 1254, 1254, 1254)
('Middle East & North Africa', 'Facility/Infrastructure Attack', 1115, 1115, 1115)
('Southeast Asia', 'Facility/Infrastructure Attack', 948, 948, 948)
('North America', 'Facility/Infrastructure Attack', 906, 906, 906)
('Sub-Saharan Africa', 'Facility/Infrastructure Attack', 810, 810, 810)
('South America', 'Facility/Infrastructure Attack', 803, 803, 803)
('South America', 'Unknown', 754, 754, 754)
('Southeast Asia', 'Hostage Taking (Kidnapping)', 744, 744, 744)
('Central America & Caribbean', 'Hostage Taking (Kidnapping)', 501, 501, 501)
('North America', 'Armed Assault', 448, 448, 448)
('Southeast Asia', 'Unknown', 433, 433, 433)
('Central America & Caribbean', 'Facility/Infrastructure Attack', 403, 403, 403)
('Eastern Europe', 'Assassination', 400, 400, 400)
('Central America & Caribbean', 'Unknown', 354, 354, 354)
('East Asia', 'Bombing/Explosion', 330, 330, 330)
('South Asia', 'Unarmed Assault', 323, 323, 323)
('Western Europe', 'Hostage Taking (Kidnapping)', 269, 269, 269)
('Western Europe', 'Unknown', 265, 265, 265)
('Eastern Europe', 'Facility/Infrastructure Attack', 260, 260, 260)
('North America', 'Assassination', 255, 255, 255)
('Central Asia', 'Bombing/Explosion', 235, 235, 235)
('South America', 'Hostage Taking (Barricade Incident)', 234, 234, 234)
('Eastern Europe', 'Hostage Taking (Kidnapping)', 220, 220, 220)
('East Asia', 'Facility/Infrastructure Attack', 200, 200, 200)
('Central America & Caribbean', 'Hostage Taking (Barricade Incident)', 187, 187, 187)
('Middle East & North Africa', 'Unarmed Assault', 177, 177, 177)
('Western Europe', 'Unarmed Assault', 148, 148, 148)
('Middle East & North Africa', 'Hijacking', 138, 138, 138)
('Sub-Saharan Africa', 'Hijacking', 136, 136, 136)
('North America', 'Hostage Taking (Kidnapping)', 123, 123, 123)
('South Asia', 'Hostage Taking (Barricade Incident)', 120, 120, 120)
('East Asia', 'Armed Assault', 117, 117, 117)
('Central Asia', 'Armed Assault', 116, 116, 116)
('Central Asia', 'Assassination', 115, 115, 115)
('Eastern Europe', 'Unknown', 115, 115, 115)
('Middle East & North Africa', 'Hostage Taking (Barricade Incident)', 100, 100, 100)
('Sub-Saharan Africa', 'Hostage Taking (Barricade Incident)', 95, 95, 95)
('South Asia', 'Hijacking', 93, 93, 93)
('Western Europe', 'Hostage Taking (Barricade Incident)', 89, 89, 89)
('Sub-Saharan Africa', 'Unarmed Assault', 83, 83, 83)
('Australasia & Oceania', 'Bombing/Explosion', 75, 75, 75)
('North America', 'Unarmed Assault', 73, 73, 73)
('Australasia & Oceania', 'Facility/Infrastructure Attack', 71, 71, 71)
('North America', 'Hostage Taking (Barricade Incident)', 67, 67, 67)
('South America', 'Hijacking', 67, 67, 67)
('Southeast Asia', 'Hostage Taking (Barricade Incident)', 67, 67, 67)
('Western Europe', 'Hijacking', 67, 67, 67)
('Eastern Europe', 'Unarmed Assault', 62, 62, 62)
('Southeast Asia', 'Hijacking', 59, 59, 59)
('East Asia', 'Assassination', 55, 55, 55)
('Australasia & Oceania', 'Armed Assault', 51, 51, 51)
('South America', 'Unarmed Assault', 47, 47, 47)
('Central Asia', 'Hostage Taking (Kidnapping)', 45, 45, 45)
('East Asia', 'Unarmed Assault', 42, 42, 42)
('Australasia & Oceania', 'Assassination', 36, 36, 36)
('North America', 'Unknown', 32, 32, 32)
('Central America & Caribbean', 'Hijacking', 26, 26, 26)
('Eastern Europe', 'Hijacking', 26, 26, 26)
('Southeast Asia', 'Unarmed Assault', 25, 25, 25)
('East Asia', 'Unknown', 23, 23, 23)
('Eastern Europe', 'Hostage Taking (Barricade Incident)', 21, 21, 21)
('Central Asia', 'Facility/Infrastructure Attack', 20, 20, 20)
('Central America & Caribbean', 'Unarmed Assault', 19, 19, 19)
('East Asia', 'Hijacking', 18, 18, 18)
('North America', 'Hijacking', 18, 18, 18)
('Central Asia', 'Unknown', 17, 17, 17)
('Australasia & Oceania', 'Unknown', 16, 16, 16)
('East Asia', 'Hostage Taking (Kidnapping)', 14, 14, 14)
('Australasia & Oceania', 'Hostage Taking (Kidnapping)', 13, 13, 13)
('Australasia & Oceania', 'Unarmed Assault', 11, 11, 11)
('Central Asia', 'Hijacking', 8, 8, 8)
('Australasia & Oceania', 'Hostage Taking (Barricade Incident)', 6, 6, 6)
('Central Asia', 'Unarmed Assault', 5, 5, 5)
('Australasia & Oceania', 'Hijacking', 3, 3, 3)
('East Asia', 'Hostage Taking (Barricade Incident)', 3, 3, 3)
('Central Asia', 'Hostage Taking (Barricade Incident)', 2, 2, 2)

---

# reference

민형동 (2020). Global Terrorism Data를 활용한 국가별 테러유형 분석. 한국공안행정학회, 82, 63-84. 

한인택 (2017). Global Terrorism Database를 활용한 테러리즘의 현황분석. 

민형기 (2019). 전세계 테러 데이터 분석 (따라하기). https://pinkwink.kr/1214 

ASHWINI SWSAIN (2018). Terrorism Around The World. https://www.kaggle.com/code/ash316/terrorism-around-the-world/notebook

START (National Consortium for the Study of Terrorism and Responses to Terrorism). (2021). *Global Terrorism Database* (GTD) [Data set]. University of Maryland. https://www.start.umd.edu/gtd

START (National Consortium for the Study of Terrorism and Responses to Terrorism). (2021, August). *Global Terrorism Database codebook: Methodology, inclusion criteria, and variables.* University of Maryland. https://www.start.umd.edu/gtd/downloads/Codebook.pdf