In [1]:
import mysql.connector

# 1. Create Connection

### ÏòàÏ†ú1. Local DB Ïó∞Í≤∞

In [2]:
local = mysql.connector.connect(
	host = "localhost",
	user = "root",
	password = "MSQanfqud42!"
)

### ÏòàÏ†ú2. AWS RDS(database-1) Ïó∞Í≤∞

In [9]:
remote = mysql.connector.connect(
	host = "database-1.cjyesy60ukq4.us-east-2.rds.amazonaws.com",
	port = 3306,
	user = "admin",
	password = "awsrds_mysql21!"
)

### Close Database

In [3]:
local.close()

In [10]:
remote.close()

### ÏòàÏ†ú3. Local zerobase DB Ïó∞Í≤∞

In [7]:
local = mysql.connector.connect(
	host = "localhost",
	user = "root",
	password = "MSQanfqud42!",
	database = "zerobase"
)

In [8]:
local.close()

### ÏòàÏ†ú4. AWS RDS(database-1)Ïùò zerobase Ïó∞Í≤∞

In [11]:
remote = mysql.connector.connect(
	host = "database-1.cjyesy60ukq4.us-east-2.rds.amazonaws.com",
	port = 3306,
	user = "admin",
	password = "awsrds_mysql21!",
	database = "zerobase"
)

In [ ]:
remote.close()

</br>

-----

</br>

# PythonÏóêÏÑú SQL Ïã§Ìñâ

## üî∞ Execute SQL

### ÏòàÏ†ú1. Table ÏÉùÏÑ±

In [12]:
remote = mysql.connector.connect(
	host = "database-1.cjyesy60ukq4.us-east-2.rds.amazonaws.com",
	port = 3306,
	user = "admin",
	password = "awsrds_mysql21!",
	database = "zerobase"
)

cur = remote.cursor()
cur.execute("CREATE TABLE sql_file (id int, filename varchar(16))")

remote.close()

### ÏòàÏ†ú2. Table ÏÇ≠Ï†ú

In [13]:
remote = mysql.connector.connect(
	host = "database-1.cjyesy60ukq4.us-east-2.rds.amazonaws.com",
	port = 3306,
	user = "admin",
	password = "awsrds_mysql21!",
	database = "zerobase"
)

cur = remote.cursor()
cur.execute("DROP TABLE sql_file")

remote.close()

## üî∞ Execute SQL File

### ÏòàÏ†ú1. test03.sql ÌååÏùº ÏÉùÏÑ± ÌõÑ Ïã§Ìñâ

In [14]:
remote = mysql.connector.connect(
	host = "database-1.cjyesy60ukq4.us-east-2.rds.amazonaws.com",
	port = 3306,
	user = "admin",
	password = "awsrds_mysql21!",
	database = "zerobase"
)

cur = remote.cursor()
sql = open("test03.sql").read()
cur.execute(sql)

remote.close()

### ÏòàÏ†ú2. test04.sql ÌååÏùº ÏÉùÏÑ± ÌõÑ Ïã§Ìñâ

- SQL File ÎÇ¥Ïóê QueryÍ∞Ä Ïó¨Îü¨Í∞ú Ï°¥Ïû¨ÌïòÎäî Í≤ΩÏö∞ Ïã§ÌñâÏùÑ ÏúÑÌïú ÏΩîÎìú

In [20]:
remote = mysql.connector.connect(
	host = "database-1.cjyesy60ukq4.us-east-2.rds.amazonaws.com",
	port = 3306,
	user = "admin",
	password = "awsrds_mysql21!",
	database = "zerobase"
)

cur = remote.cursor()
sql = open("test04.sql").read()
cur.execute(sql)

remote.close()

#==> QueryÎ¨∏Ïù¥ Ïó¨Îü¨ Í∞úÏó¨ÏÑú Ïò§Î•ò Î∞úÏÉù

In [21]:
remote = mysql.connector.connect(
	host = "database-1.cjyesy60ukq4.us-east-2.rds.amazonaws.com",
	port = 3306,
	user = "admin",
	password = "awsrds_mysql21!",
	database = "zerobase"
)

cur = remote.cursor()
sql = open("test04.sql").read()
for result_iterator in cur.execute(sql, multi=True):
    if result_iterator.with_rows:
        print(result_iterator.fetchall())
    else:
        print(result_iterator.statement)
        
remote.commit() #==> commit()ÌïòÎäî ÏàúÍ∞Ñ DBÏóê Î∞òÏòÅÏù¥ ÎêúÎã§. Îç∞Ïù¥ÌÑ∞Í∞Ä DBÏóê Ï†ÄÏû•Îê®.
remote.close()

INSERT INTO sql_file VALUES (1, "test01.sql")
INSERT INTO sql_file VALUES (2, "test02.sql")
INSERT INTO sql_file VALUES (3, "test03.sql")
INSERT INTO sql_file VALUES (4, "test04.sql")

### Fatch All ÏòàÏ†ú

> sql_file Table Ï°∞Ìöå


- `cursor.fetchall()`
	- SELECTÎ¨∏ÏúºÎ°ú Îç∞Ïù¥ÌÑ∞Î•º Í∞ÄÏ†∏Ïò¨ Îïå ÏÇ¨Ïö©ÌïòÎäî Ìï®Ïàò
	- Îç∞Ïù¥ÌÑ∞Í∞Ä Î¶¨Ïä§Ìä∏ ÌòïÌÉúÎ°ú Î∞òÌôòÎêúÎã§.

- ÏùΩÏñ¥Ïò¨ Îç∞Ïù¥ÌÑ∞ ÏñëÏù¥ ÎßéÏùÄ Í≤ΩÏö∞ `buffered=True` ÏòµÏÖòÏùÑ ÏÇ¨Ïö©ÌïúÎã§.

In [22]:
remote = mysql.connector.connect(
	host = "database-1.cjyesy60ukq4.us-east-2.rds.amazonaws.com",
	port = 3306,
	user = "admin",
	password = "awsrds_mysql21!",
	database = "zerobase"
)

cur = remote.cursor(buffered=True)
cur.execute("SELECT * FROM sql_file")

result = cur.fetchall()
print(result)

for result_iter in result:
    print(result_iter)
    
remote.close()

[(1, 'test01.sql'), (2, 'test02.sql'), (3, 'test03.sql'), (4, 'test04.sql')]
(1, 'test01.sql')
(2, 'test02.sql')
(3, 'test03.sql')
(4, 'test04.sql')

- Pandas DataFrame

	- Í≤ÄÏÉâ Í≤∞Í≥ºÎ•º PandasÎ°ú ÏùΩÏùÑ Ïàò ÏûàÎã§.

In [23]:
import pandas as pd

df = pd.DataFrame(result)
df

   0           1
0  1  test01.sql
1  2  test02.sql
2  3  test03.sql
3  4  test04.sql