In [1]:
import mysql.connector

# 1. Create Connection

### 예제1. Local DB 연결

In [2]:
local = mysql.connector.connect(
	host = "localhost",
	user = "root",
	password = "MSQanfqud42!"
)

### 예제2. AWS RDS(database-1) 연결

In [9]:
remote = mysql.connector.connect(
	host = "database-1.cjyesy60ukq4.us-east-2.rds.amazonaws.com",
	port = 3306,
	user = "admin",
	password = "awsrds_mysql21!"
)

### Close Database

In [3]:
local.close()

In [10]:
remote.close()

### 예제3. Local zerobase DB 연결

In [7]:
local = mysql.connector.connect(
	host = "localhost",
	user = "root",
	password = "MSQanfqud42!",
	database = "zerobase"
)

In [8]:
local.close()

### 예제4. AWS RDS(database-1)의 zerobase 연결

In [11]:
remote = mysql.connector.connect(
	host = "database-1.cjyesy60ukq4.us-east-2.rds.amazonaws.com",
	port = 3306,
	user = "admin",
	password = "awsrds_mysql21!",
	database = "zerobase"
)

In [ ]:
remote.close()

</br>

-----

</br>

# Python에서 SQL 실행

## 🔰 Execute SQL

### 예제1. Table 생성

In [12]:
remote = mysql.connector.connect(
	host = "database-1.cjyesy60ukq4.us-east-2.rds.amazonaws.com",
	port = 3306,
	user = "admin",
	password = "awsrds_mysql21!",
	database = "zerobase"
)

cur = remote.cursor()
cur.execute("CREATE TABLE sql_file (id int, filename varchar(16))")

remote.close()

### 예제2. Table 삭제

In [13]:
remote = mysql.connector.connect(
	host = "database-1.cjyesy60ukq4.us-east-2.rds.amazonaws.com",
	port = 3306,
	user = "admin",
	password = "awsrds_mysql21!",
	database = "zerobase"
)

cur = remote.cursor()
cur.execute("DROP TABLE sql_file")

remote.close()

## 🔰 Execute SQL File

### 예제1. test03.sql 파일 생성 후 실행

In [14]:
remote = mysql.connector.connect(
	host = "database-1.cjyesy60ukq4.us-east-2.rds.amazonaws.com",
	port = 3306,
	user = "admin",
	password = "awsrds_mysql21!",
	database = "zerobase"
)

cur = remote.cursor()
sql = open("test03.sql").read()
cur.execute(sql)

remote.close()

### 예제2. test04.sql 파일 생성 후 실행

- SQL File 내에 Query가 여러개 존재하는 경우 실행을 위한 코드

In [20]:
remote = mysql.connector.connect(
	host = "database-1.cjyesy60ukq4.us-east-2.rds.amazonaws.com",
	port = 3306,
	user = "admin",
	password = "awsrds_mysql21!",
	database = "zerobase"
)

cur = remote.cursor()
sql = open("test04.sql").read()
cur.execute(sql)

remote.close()

#==> Query문이 여러 개여서 오류 발생

In [21]:
remote = mysql.connector.connect(
	host = "database-1.cjyesy60ukq4.us-east-2.rds.amazonaws.com",
	port = 3306,
	user = "admin",
	password = "awsrds_mysql21!",
	database = "zerobase"
)

cur = remote.cursor()
sql = open("test04.sql").read()
for result_iterator in cur.execute(sql, multi=True):
    if result_iterator.with_rows:
        print(result_iterator.fetchall())
    else:
        print(result_iterator.statement)
        
remote.commit() #==> commit()하는 순간 DB에 반영이 된다. 데이터가 DB에 저장됨.
remote.close()

INSERT INTO sql_file VALUES (1, "test01.sql")
INSERT INTO sql_file VALUES (2, "test02.sql")
INSERT INTO sql_file VALUES (3, "test03.sql")
INSERT INTO sql_file VALUES (4, "test04.sql")

### Fatch All 예제

> sql_file Table 조회


- `cursor.fetchall()`
	- SELECT문으로 데이터를 가져올 때 사용하는 함수
	- 데이터가 리스트 형태로 반환된다.

- 읽어올 데이터 양이 많은 경우 `buffered=True` 옵션을 사용한다.

In [22]:
remote = mysql.connector.connect(
	host = "database-1.cjyesy60ukq4.us-east-2.rds.amazonaws.com",
	port = 3306,
	user = "admin",
	password = "awsrds_mysql21!",
	database = "zerobase"
)

cur = remote.cursor(buffered=True)
cur.execute("SELECT * FROM sql_file")

result = cur.fetchall()
print(result)

for result_iter in result:
    print(result_iter)
    
remote.close()

[(1, 'test01.sql'), (2, 'test02.sql'), (3, 'test03.sql'), (4, 'test04.sql')]
(1, 'test01.sql')
(2, 'test02.sql')
(3, 'test03.sql')
(4, 'test04.sql')

- Pandas DataFrame

	- 검색 결과를 Pandas로 읽을 수 있다.

In [23]:
import pandas as pd

df = pd.DataFrame(result)
df

   0           1
0  1  test01.sql
1  2  test02.sql
2  3  test03.sql
3  4  test04.sql