# 제로베이스 데이터 취업 스쿨 SQL 과제 1
- 스타벅스 이디야 데이터 분석

### 8문제 총 100점

- 1번 5점
- 2번 5점
- 3번 10점
- 4번 5점
- 5번 15점
- 6번 15점
- 7번 40점
- 8번 5점

### 1 ~ 8번 모두 본 노트북 파일에 답안 작성해서 제출해주세요 :)

---

문제 1.

AWS RDS (MySQL) 에 프로젝트 관련 Database 를 생성하고, 접근 가능한 사용자 계정을 생성하세요.

- Database Name : oneday
- User Name / Password : oneday / 1234

In [1]:
from mysql.connector import connect

conn = connect(
   	host = "database-1.cjyesy60ukq4.us-east-2.rds.amazonaws.com",
	port = 3306,
	user = "admin",
	password = "awsrds_mysql21!"
)

In [2]:
cursor = conn.cursor(buffered=True)
cursor.execute("CREATE DATABASE oneday DEFAULT CHARACTER SET utf8mb4")

In [4]:
cursor.execute("CREATE USER 'oneday'@'%' IDENTIFIED BY '1234'")
cursor.execute("GRANT ALL ON oneday.* TO 'oneday'@'%';")

제출 1.
- Database 생성문 조회 결과 : SHOW CREATE DATABASE oneday;
- 사용자 권한 확인 결과 : SHOW GRANT FOR ‘oneday’@‘%’

In [3]:
cursor.execute("SHOW CREATE DATABASE oneday;")
result = cursor.fetchall()
result

[('oneday',
  "CREATE DATABASE `oneday` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */")]

In [5]:
cursor.execute("SHOW GRANTS FOR 'oneday'@'%'")
result = cursor.fetchall()
result

[('GRANT USAGE ON *.* TO `oneday`@`%`',),
 ('GRANT ALL PRIVILEGES ON `oneday`.* TO `oneday`@`%`',)]

In [6]:
conn.close()

문제 2.

스타벅스 이디야 데이터를 저장할 테이블을 다음의 구조로 생성하세요. (PDF 파일 참고)

<img src="https://github.com/ElaYJ/Study_SQL/assets/153154981/277625d7-835f-45c0-af87-cbb5d9639283" width="50%" height="50%">

In [7]:
conn = connect(
	host = "database-1.cjyesy60ukq4.us-east-2.rds.amazonaws.com",
	port = 3306,
	user = "oneday",
	password = "1234",
	database = "oneday"
)
cursor = conn.cursor(buffered=True)

In [8]:
query = """
    CREATE TABLE coffee_brand(
    id int NOT NULL AUTO_INCREMENT PRIMARY KEY,
    name varchar(32)
    );
"""
cursor.execute(query)

In [9]:
query = """
    CREATE TABLE coffee_store(
    id int NOT NULL AUTO_INCREMENT PRIMARY KEY,
    brand int,
    name varchar(32),
    gu_name varchar(5),
    address varchar(128),
    lat decimal(16,14),
    lng decimal(17,14),
    CONSTRAINT FK_brand FOREIGN KEY (brand) REFERENCES coffee_brand(id)
    );
"""
cursor.execute(query)

문제 3.

Python 코드로 COFFEE_BRAND 데이터를 다음과 같이 입력하고 확인하세요. (PDF 파일 참고)

In [10]:
cursor.execute("INSERT INTO coffee_brand VALUES (1, 'STARBUCKS')")
cursor.execute("INSERT INTO coffee_brand VALUES (2, 'EDIYA')")
conn.commit()

제출 2.
- Table 생성 결과 : Desc COFFEE_BRAND; Desc COFFEE_STORE;

제출 3.
- COFFEE_BRAND 조회 결과 : SELECT * FROM COFFEE_BRAND;

In [11]:
import pandas as pd

cursor.execute("DESC coffee_brand;")
result = cursor.fetchall()
df = pd.DataFrame(result)
df.columns = [column[0] for column in cursor.description]
df

  Field         Type Null  Key Default           Extra
0    id          int   NO  PRI    None  auto_increment
1  name  varchar(32)  YES         None

In [12]:
cursor.execute("DESC coffee_store;")
result = cursor.fetchall()
df = pd.DataFrame(result)
df.columns = [column[0] for column in cursor.description]
df

     Field            Type Null  Key Default           Extra
0       id             int   NO  PRI    None  auto_increment
1    brand             int  YES  MUL    None
2     name     varchar(32)  YES         None
3  gu_name      varchar(5)  YES         None
4  address    varchar(128)  YES         None
5      lat  decimal(16,14)  YES         None
6      lng  decimal(17,14)  YES         None

In [13]:
cursor.execute("SELECT * FROM coffee_brand;")
result = cursor.fetchall()
df = pd.DataFrame(result)
df.columns = [column[0] for column in cursor.description]
df

   id       name
0   1  STARBUCKS
1   2      EDIYA

문제 4.

스타벅스 페이지에 접근하는 코드에서 팝업창이 없는 경우, 팝업창을 닫는 코드에서 에러가 발생합니다. 예외처리 해서 에러
메시지를 출력하고 실행이 중단되지 않도록 수정해주세요.

제출 4.
- 팝업 예외처리 코드 & 실행 결과 (ipynb)

In [14]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By

chromedriver_path = "./chromedriver-win64/chromedriver.exe"
service = Service(executable_path=chromedriver_path)
options = webdriver.ChromeOptions()
driver = webdriver.Chrome(options=options, service=service)

starbucks_url = "https://www.starbucks.co.kr/store/store_map.do?disp=locale"
driver.get(starbucks_url)

try:
    driver.find_element(By.CSS_SELECTOR, '.holiday_notice_close a').click()
except:
    print("No such element: Unable to locate element")

No such element: Unable to locate element

문제 5.

Python 코드로 스타벅스 페이지에서 데이터를 가져올때, COFFEE_STORE 테이블에 바로 입력하도록 수정하세요.

- 데이터 세트: 매장 이름, 매장이 위치한 구 이름, 매장 주소, 위도, 경도
- 필요한 데이터를 한세트씩 가져와서 COFFEE_STORE 테이블에 각각INSERT 하도록 합니다.
- 입력된 데이터의 총 갯수를 쿼리하여 결과를 확인합니다.
- 입력된 데이터 상위 10개를 쿼리하여 결과를 확인합니다.

제출 5.
- 스타벅스 데이터 관련 코드 & 실행 결과 (ipynb)

In [15]:
driver.find_element(By.CLASS_NAME, 'set_sido_cd_btn').click()

In [17]:
driver.find_element(By.CLASS_NAME, "set_gugun_cd_btn").click()

In [18]:
from bs4 import BeautifulSoup

html = driver.page_source
soup = BeautifulSoup(html, "html.parser")

search_result = soup.select(".quickResultLstCon")
len(search_result)

610

In [19]:
driver.quit()

In [ ]:
import re

query = "INSERT INTO coffee_store VALUES (%s, %s, %s, %s, %s, %s, %s)"

for i, info in enumerate(search_result):
    name = info.get("data-name")
    str = info.find("p", class_="result_details").text
    addr = re.sub("\d{4}-\d{4}", "", str).strip()
    gu = addr.split()[1]
    lat = info.get("data-lat")
    lng = info.get("data-long")
    print(f"{i} --> ", name, gu, addr, lat, lng)
    
    i += 1
    cursor.execute(query, (i, 1, name, gu, addr, lat, lng))
    conn.commit()

In [22]:
cursor.execute("SELECT COUNT(*) FROM coffee_store;")
result = cursor.fetchone()[0]
result

610

In [23]:
cursor.execute("SELECT * FROM coffee_store LIMIT 10;")
result = cursor.fetchall()
df = pd.DataFrame(result)
df.columns = [column[0] for column in cursor.description]
df

,id,brand,name,gu_name,address,lat,lng
0,1,1,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동),37.50108700000000,127.04306900000000
1,2,1,논현역사거리,강남구,서울특별시 강남구 강남대로 538 (논현동),37.51017800000000,127.02222300000000
2,3,1,신사역성일빌딩,강남구,서울특별시 강남구 강남대로 584 (논현동),37.51393090000000,127.02060570000000
3,4,1,국기원사거리,강남구,서울특별시 강남구 테헤란로 125 (역삼동),37.49951700000000,127.03149500000000
4,5,1,대치재경빌딩,강남구,서울특별시 강남구 남부순환로 2947 (대치동),37.49466800000000,127.06258300000000
5,6,1,봉은사역,강남구,서울특별시 강남구 봉은사로 619 (삼성동),37.51500000000000,127.06319600000000
6,7,1,압구정윤성빌딩,강남구,서울특별시 강남구 논현로 834 (신사동),37.52279340000000,127.02860090000000
7,8,1,코엑스별마당,강남구,서울특별시 강남구 영동대로 513 (삼성동),37.51015000000000,127.06027500000000
8,9,1,삼성역섬유센터R,강남구,서울특별시 강남구 테헤란로 518 (대치동),37.50775000000000,127.06065100000000
9,10,1,압구정R,강남구,서울특별시 강남구 언주로 861 (신사동),37.52736690000000,127.03306100000000

문제 6.

Python 코드로 이디야 페이지에서 데이터를 가져올때, COFFEE_STORE 테이블에 바로 입력하도록 수정하세요.

- 데이터 세트 : 매장 이름, 매장이 위치한 구 이름, 매장 주소, 위도, 경도
- 이디야 페이지에서 검색에 사용할 구 이름은 COFFEE_STORE 에서 중복을 제거하는 쿼리를 사용하여 가져와서 {‘서울 ‘ + 구이름} 형식으로 변환하여 사용하도록 합니다.
- 필요한 데이터를 한 세트씩 가져와서 COFFEE_STORE 테이블에 각각 INSERT 하도록 합니다.
- (주의) COFFEE_STORE 테이블에 입력할 구 이름은 {‘서울 ‘} 이 제거된 구 이름입니다.
- 입력된 데이터의 총 갯수를 쿼리하여 결과를 확인합니다.
- 입력된 데이터 상위 10개를 쿼리하여 결과를 확인합니다.

제출 6.
- 이디야 데이터 관련 코드 & 실행 결과 (ipynb)

In [24]:
cursor.execute("SELECT DISTINCT gu_name FROM coffee_store;")
result = cursor.fetchall()
gu_list = ['서울 '+gu[0] for gu in result]
gu_list

['서울 강남구',
 '서울 강북구',
 '서울 강서구',
 '서울 관악구',
 '서울 광진구',
 '서울 금천구',
 '서울 노원구',
 '서울 도봉구',
 '서울 동작구',
 '서울 마포구',
 '서울 서대문구',
 '서울 서초구',
 '서울 성북구',
 '서울 송파구',
 '서울 양천구',
 '서울 영등포구',
 '서울 은평구',
 '서울 종로구',
 '서울 중구',
 '서울 강동구',
 '서울 구로구',
 '서울 동대문구',
 '서울 성동구',
 '서울 용산구',
 '서울 중랑구']

In [25]:
chromedriver_path = "./chromedriver-win64/chromedriver.exe"
service = Service(executable_path=chromedriver_path)
options = webdriver.ChromeOptions()
driver = webdriver.Chrome(options=options, service=service)

ediya_url = "https://ediya.com/contents/find_store.html"
driver.get(ediya_url)

In [26]:
driver.find_element(By.XPATH, '//*[@id="contentWrap"]/div[3]/div/div[1]/ul/li[2]/a').click()

In [27]:
import googlemaps
import time

google_api_key = "AIzaSyA4sdzAgIcBUWnWQ6Widv8Pwhzf9XFj2Ss"
gmaps = googlemaps.Client(key=google_api_key)

query = "INSERT INTO coffee_store (brand, name, gu_name, address, lat, lng) VALUES (%s, %s, %s, %s, %s, %s)"

i = 0
for gu in gu_list:
	keyword = driver.find_element(By.XPATH, '//*[@id="keyword"]')
	keyword.clear()
	keyword.send_keys(gu)
	driver.find_element(By.XPATH, '//*[@id="keyword_div"]/form/button').click()
	time.sleep(1.5)

	search_result = driver.find_elements(By.CSS_SELECTOR, "#placesList > li.item")

	for info in search_result:
		tmp = info.text.split("\n")
		name = tmp[0]
		addr = tmp[1]
		gu_name = tmp[1].split()[1]
		
		gmap_output = gmaps.geocode(addr, language="ko")
		if len(gmap_output):
			lat = gmap_output[0].get("geometry")["location"]["lat"]
			lng = gmap_output[0].get("geometry")["location"]["lng"]
		else:
			add_str = addr[:addr.find("(")].strip()
			rslt = gmaps.geocode(add_str, language="ko")
			if(len(rslt)):
				lat = rslt[0].get("geometry")["location"]["lat"]
				lng = rslt[0].get("geometry")["location"]["lng"]
			else:
				continue
		i += 1
		print(f"{i} --> ", name, gu_name, addr, lat, lng)
			
		cursor.execute(query, (2, name, gu_name, addr, lat, lng))
		conn.commit()

1 -->  강남YMCA점 강남구 서울 강남구 논현동 37.5136787 127.0317124
2 -->  강남구청역아이티웨딩점 강남구 서울 강남구 학동로 338 (논현동, 강남파라곤) 37.5165513 127.0401391
3 -->  강남논현학동점 강남구 서울 강남구 논현로131길 28 (논현동) 37.5151899 127.0275539
4 -->  강남대치점 강남구 서울 강남구 역삼로 415 (대치동, 성진빌딩) 37.501434 127.052328
5 -->  강남도산점 강남구 서울 강남구 도산대로37길 20 (신사동) 37.5222821 127.0314799
6 -->  강남세곡점 강남구 서울 강남구 헌릉로569길 9 (세곡동, 강남지웰파인즈) 37.4669731 127.1005262
7 -->  강남율현점 강남구 서울 강남구 밤고개로21길 8 (율현동, 세곡프라자) 37.4735822 127.1078311
8 -->  강남자곡점 강남구 서울 강남구 자곡로 180 (자곡동, 강남유탑유블레스) 37.4734846 127.1030979
9 -->  개포동역점 강남구 서울 강남구 개포로82길 11 (개포동, 삼우빌딩) 37.4885331 127.0674474
10 -->  건설회관점 강남구 서울 강남구 언주로 711 (논현동) 37.5163003 127.0299123
11 -->  대청역점 강남구 서울 강남구 개포로109길 34 (개포동, 대청프라자) 37.4942156 127.077617
12 -->  대치역점 강남구 서울 강남구 남부순환로 2937 (대치동, 까치빌딩) 37.4941007 127.061519
13 -->  도곡2동점 강남구 서울 강남구 논현로 142 (도곡동, 동현빌딩) 37.4824351 127.0429933
14 -->  도산사거리점 강남구 서울 강남구 논현동 37.5136787 127.0317124
15 -->  삼성대치점 강남구 서울 강남구 삼성로64길 32 (대치동, 주성빌딩) 37.5004196 127.0630716
16 -->  삼성동점 강남구 서울 강남구 테헤란로88길 10 (대치동) 37.5068833 127.059437
17 -->  삼성중앙역점 강남구 서울 강남구 삼성로 608 (삼성동, 우창빌딩) 37.50796 127.0565469
18 -->  삼성한전점 강남구 서울 강남구 테헤란로107길 11 (삼성동) 37.5104408 127.0650485
19 -->  선릉사거리점 강남구 서울 강남구 선릉로 519 (역삼동, 삼능빌딩) 37.505905 127.047937
20 -->  선릉역점 강남구 서울 강남구 테헤란로 332 (역삼동, HJ타워) 37.5038188 127.0481497
21 -->  선릉점 강남구 서울 강남구 선릉로86길 15 (대치동, 현대선릉 GOLD TOWER) 37.5034763 127.0508494
22 -->  선정릉역점 강남구 서울 강남구 봉은사로 326 (역삼동) 37.5096546 127.0426648
23 -->  수서역점 강남구 서울 강남구 광평로 280 (수서동, 로즈데일오피스텔) 37.4873425 127.1030015
24 -->  신사역점 강남구 서울 강남구 압구정로2길 62 (신사동) 37.5177943 127.0214406
25 -->  신사점 강남구 서울 강남구 도산대로 118 (논현동) 37.5166679 127.0217279
26 -->  압구정로데오역점 강남구 서울 강남구 선릉로161길 20 (신사동) 37.527534 127.0388282
27 -->  압구정점 강남구 서울 강남구 신사동 37.5235332 127.0230659
28 -->  압구정현대점 강남구 서울 강남구 압구정로 214 (신사동, 현대종합상가빌딩) 37.52617730000001 127.0284764
29 -->  역삼더블루점 강남구 서울 강남구 논현로63길 16 (역삼동, 역삼종합시장 더블루) 37.492909 127.0390723
30 -->  역삼상록점 강남구 서울 강남구 테헤란로43길 18 (역삼동, SC빌딩) 37.5044225 127.044027
31 -->  역삼역점 강남구 서울 강남구 테헤란로25길 17 (역삼동) 37.5018112 127.0352111
32 -->  역삼월드점 강남구 서울 강남구 역삼로52길 14 (역삼동, 도곡프라자) 37.4985444 127.0479369
33 -->  역삼점 강남구 서울 강남구 논현로72길 13 (역삼동) 37.4958415 127.0405444
34 -->  역삼중앙점 강남구 서울 강남구 언주로81길 8 (역삼동) 37.500366 127.042869
35 -->  역삼초교점 강남구 서울 강남구 강남대로 314 (역삼동) 37.5000776 127.0385419
36 -->  역삼충현점 강남구 서울 강남구 논현로98길 7 (역삼동) 37.5037879 127.0363296
37 -->  역삼플래티넘점 강남구 서울 강남구 테헤란로4길 46 (역삼동, 쌍용플래티넘밸류) 37.4953323 127.0303725
38 -->  을지병원사거리점 강남구 서울 강남구 도산대로30길 7 (논현동) 37.5194023 127.0294305
39 -->  이디야커피랩 강남구 서울 강남구 논현로 636 (논현동, 이디야빌딩) 37.5104871 127.0329436
40 -->  일원동점 강남구 서울 강남구 양재대로27길 20 (일원동) 37.4906985 127.0883948
41 -->  청담사거리점 강남구 서울 강남구 도산대로 521 (청담동) 37.524866 127.050373
42 -->  청담역점 강남구 서울 강남구 삼성로 721 (청담동, 룩희 819) 37.5200681 127.0491634
43 -->  포이사거리점 강남구 서울 강남구 개포로 218 (개포동) 37.478468 127.046625
44 -->  학동역점 강남구 서울 강남구 학동로 219 (논현동, 국제빌딩) 37.5097925 127.021578
45 -->  학동제마점 강남구 서울 강남구 학동로34길 22 (논현동) 37.51313870000001 127.03365
46 -->  한티역점 강남구 서울 강남구 도곡로69길 8 (대치동) 37.4979551 127.0561304
47 -->  4.19사거리점 강북구 서울 강북구 삼양로 501 (수유동) 37.6478893 127.0142292
48 -->  가오리역점 강북구 서울 강북구 삼각산로 108 (수유동) 37.6405388 127.0161692
49 -->  강북경찰서점 강북구 서울 강북구 오패산로 403 (번동) 37.63687110000001 127.0269947
50 -->  광산사거리점 강북구 서울 강북구 노해로 91 (수유동, 진흥빌딩) 37.6438957 127.0225697
51 -->  미아꿈의숲해링턴점 강북구 서울 강북구 오현로 45 (미아동, 꿈의숲 해링턴 플레이스) 37.6185566 127.034085
52 -->  미아삼거리역점 강북구 서울 강북구 도봉로10길 28 (미아동) 37.6138545 127.0310241
53 -->  미아삼거리점 강북구 서울 강북구 도봉로 45 (미아동, 숭인시장) 37.6130238 127.0289642
54 -->  미아송천점 강북구 서울 강북구 삼양로 118 (미아동) 37.6144229 127.0224232
55 -->  미아역점 강북구 서울 강북구 도봉로 207 -3(미아동) 37.6271102 127.0254395
56 -->  미아중앙점 강북구 서울 강북구 도봉로 128 (미아동) 37.6204645 127.0287631
57 -->  번동점 강북구 서울 강북구 오현로 194 (번동, 덕수빌딩) 37.6288338 127.0398506
58 -->  북한산점 강북구 서울 강북구 4.19로 85 (수유동) 37.6447499 127.0056031
59 -->  삼각산점 강북구 서울 강북구 솔샘로40길 3 (미아동) 37.6199203 127.0160107
60 -->  삼양사거리점 강북구 서울 강북구 솔샘로 254 (미아동, 삼양아케이트) 37.6193347 127.0207972
61 -->  삼양시장점 강북구 서울 강북구 삼양로 234 (미아동, 대건빌딩) 37.6242043 127.0187369
62 -->  수유1동점 강북구 서울 강북구 삼양로 293 (수유동) 37.6297285 127.0177071
63 -->  수유사거리점 강북구 서울 강북구 덕릉로 82 (수유동, 제네스타워) 37.5033772 127.0538528
64 -->  수유역점 강북구 서울 강북구 도봉로 355 (수유동) 37.6393918 127.026749
65 -->  우이역도선사점 강북구 서울 강북구 삼양로173길 21 (우이동) 37.6625002 127.0113047
66 -->  한신대점 강북구 서울 강북구 덕릉로 31 (수유동) 37.6342221 127.0169343
67 -->  가양역점 강서구 서울 강서구 양천로 500 (등촌동) 37.5575223 126.8559611
68 -->  강서nc점 강서구 서울 강서구 강서로54길 11 (등촌동) 37.5593356 126.839278
69 -->  강서가양동점 강서구 서울 강서구 강서로 511 (가양동, 한림타운) 37.5709433 126.8413819
70 -->  강서교차로점 강서구 서울 강서구 공항대로 437 (등촌동, 주신기업(주)) 37.5550159 126.8559101
71 -->  강서구청점 강서구 서울 강서구 화곡로 292 (화곡동, 서광프리메라) 37.5501456 126.8485937
72 -->  강서한강자이점 강서구 서울 강서구 양천로 401 (가양동) 37.5678802 126.8510787
73 -->  개화산역점 강서구 서울 강서구 양천로 28 (방화동, 벽산에어트리움) 37.572254 126.8070962
74 -->  개화산점 강서구 서울 강서구 양천로 28 (방화동, 벽산에어트리움) 37.572254 126.8070962
75 -->  곰달래사거리점 강서구 서울 강서구 곰달래로 52 (화곡동) 37.52990370000001 126.8386126
76 -->  공항시장역점 강서구 서울 강서구 방화동로 37 (방화동, 메디스타워) 37.5640044 126.8107915
77 -->  까치산로점 강서구 서울 강서구 까치산로 182 (화곡동) 37.5533188 126.8538953
78 -->  까치산역점 강서구 서울 강서구 강서로17길 6 (화곡동) 37.5334091 126.8452244
79 -->  내발산점 강서구 서울 강서구 강서로 304 (내발산동, 영종빌딩) 37.5527284 126.8365671
80 -->  등촌3동점 강서구 서울 강서구 공항대로41길 34 (등촌동) 37.5593008 126.845731
81 -->  등촌동점 강서구 서울 강서구 공항대로61길 20 (염창동, 우리프리머스) 37.5523447 126.8664448
82 -->  등촌역점 강서구 서울 강서구 등촌로 217 (등촌동) 37.5491585 126.8633055
83 -->  등촌중앙점 강서구 서울 강서구 등촌로 67 (등촌동, 컴스웨이빌딩) 37.5360826 126.8631621
84 -->  렘넌트문화센터점 강서구 서울 강서구 화곡로63길 65 (등촌동, 예원교회) 37.5579326 126.8491762
85 -->  마곡나루역점 강서구 서울 강서구 마곡중앙5로 6 (마곡동, 마곡나루역보타닉푸르지오시티) 37.5671562 126.8272843
86 -->  마곡대방디엠씨티점 강서구 서울 강서구 양천로 344 (마곡동, 마곡센트럴대방디엠시티오피스텔) 37.5682963 126.8409671
87 -->  마곡수명산점 강서구 서울 강서구 수명로 68-27 (내발산동, 웨스트엔드문화센터) 37.5526771 126.8266819
88 -->  마곡엠밸리점 강서구 서울 강서구 마곡서로 101 (마곡동, 동익드미라벨복합빌딩) 37.5619185 126.826919
89 -->  마곡역점 강서구 서울 강서구 공항대로 195 (마곡동, 힐스테이트에코동익) 37.5598859 126.8293007
90 -->  마곡중앙점 강서구 서울 강서구 마곡중앙6로 66 (마곡동, 퀸즈파크텐) 37.559925 126.8343328
91 -->  마곡퀸즈파크9점 강서구 서울 강서구 공항대로 247 (마곡동, 퀸즈파크나인) 37.5593023 126.835223
92 -->  마곡파인스퀘어점 강서구 서울 강서구 마곡중앙4로 22 (마곡동, 파인스퀘어) 37.5584156 126.8294265
93 -->  마곡헤리움점 강서구 서울 강서구 마곡중앙5로1길 25 (마곡동, 마곡헤리움2차) 37.569266 126.826403
94 -->  발산역점 강서구 서울 강서구 공항대로 280 (내발산동) 37.5483378 126.819493
95 -->  방화동로점 강서구 서울 강서구 방화동로 95 (방화동) 37.569044 126.812578
96 -->  방화사거리점 강서구 서울 강서구 양천로 72 (방화동, 해성빌딩) 37.5729862 126.8076185
97 -->  방화역점 강서구 서울 강서구 금낭화로 146 (방화동, 오피앙) 37.57818880000001 126.8133025
98 -->  서울공진초교점 강서구 서울 강서구 마곡중앙1로 26 (마곡동, 마곡엠리체) 37.5586533 126.8238095
99 -->  송정역점 강서구 서울 강서구 공항대로 24 (공항동) 37.56164649999999 126.8094664
100 -->  신방화역점 강서구 서울 강서구 마곡중앙5로 81 (마곡동, 에스비타운) 37.5670441 126.8185967
101 -->  신방화중앙점 강서구 서울 강서구 방화대로34길 92 (방화동, 불해빌딩) 37.5708766 126.8213439
102 -->  양천향교역점 강서구 서울 강서구 강서로 462 (등촌동) 37.5666235 126.8414199
103 -->  염창동점 강서구 서울 강서구 양천로 689 (염창동) 37.5505237 126.8729536
104 -->  염창블루나인점 강서구 서울 강서구 양천로 583 (염창동) 37.5572518 126.864441
105 -->  우장산동점 강서구 서울 강서구 우현로 15 (화곡동) 37.5471836 126.8436095
106 -->  우장산역점 강서구 서울 강서구 강서로45길 5 (화곡동) 37.5478233 126.8358363
107 -->  화곡남부시장점 강서구 서울 강서구 등촌로5길 80 (화곡동) 37.5330599 126.8589624
108 -->  화곡로점 강서구 서울 강서구 화곡로 133 (화곡동) 37.5408593 126.8364773
109 -->  화곡본동시장점 강서구 서울 강서구 까치산로4길 11 (화곡동) 37.5422225 126.8443024
110 -->  화곡사거리점 강서구 서울 강서구 곰달래로 135 (화곡동) 37.5307873 126.8479275
111 -->  화곡중앙시장점 강서구 서울 강서구 가로공원로76길 61 (화곡동) 37.5344113 126.8383918
112 -->  화곡중앙점 강서구 서울 강서구 까치산로 79 (화곡동) 37.5457685 126.8473738
113 -->  관악구청점 관악구 서울 관악구 관악로 164 (봉천동, 대우디오슈페리움1단지) 37.492156 127.0309387
114 -->  관악우성점 관악구 서울 관악구 관악로 232 (봉천동) 37.4849477 126.9560274
115 -->  관악하나로마트점 관악구 서울 관악구 남부순환로 1369 (신림동, 관악농협농산물백화점) 37.4801274 126.9022571
116 -->  낙성대역점 관악구 서울 관악구 남부순환로 1915 (봉천동) 37.4779262 126.9622219
117 -->  난곡사거리점 관악구 서울 관악구 남부순환로 1444 (신림동) 37.4809038 126.9112754
118 -->  난향동점 관악구 서울 관악구 난곡로 60 (신림동) 37.4608136 126.9193833
119 -->  남현홈플러스점 관악구 서울 관악구 과천대로 909 (남현동, 남현프라자) 37.4714783 126.9824131
120 -->  녹두거리점 관악구 서울 관악구 신림로 91 (신림동) 37.4702781 126.93912
121 -->  당곡사거리점 관악구 서울 관악구 봉천로 245 (봉천동) 37.4892967 126.929038
122 -->  보라매중앙점 관악구 서울 관악구 보라매로 62 (봉천동, 보라매삼성아파트) 37.4940971 126.9278545
123 -->  봉일시장점 관악구 서울 관악구 은천로 23 (봉천동) 37.4864167 126.9379221
124 -->  봉천역점 관악구 서울 관악구 남부순환로 1725 (봉천동) 37.4826777 126.9418946
125 -->  봉천중앙점 관악구 서울 관악구 남부순환로 1874 (봉천동) 37.4789924 126.9577555
126 -->  봉천현대시장점 관악구 서울 관악구 양녕로 39-1 (봉천동) 37.4857191 126.9467499
127 -->  사당중앙점 관악구 서울 관악구 과천대로 951 (남현동) 37.475474 126.981286
128 -->  서울대중앙점 관악구 서울 관악구 남부순환로216길 2 (봉천동) 37.4813531 126.9489899
129 -->  신대방역점 관악구 서울 관악구 난곡로 368 (신림동) 37.4869108 126.9138009
130 -->  신림난곡점 관악구 서울 관악구 난곡로 197 (신림동) 37.4725378 126.9189387
131 -->  신림남부초교점 관악구 서울 관악구 남부순환로 1541-1 (신림동) 37.48340719999999 126.9218888
132 -->  신림대학동점 관악구 서울 관악구 호암로26길 17 (신림동) 37.4707693 126.9346116
133 -->  신림문화교점 관악구 서울 관악구 신림로46길 1 (신림동, 서원동성당) 37.4785725 126.9334208
134 -->  신림문화교점 관악구 서울 관악구 신림로 262-1 (신림동) 37.4785412 126.9327183
135 -->  신림미성점 관악구 서울 관악구 난곡로 250 (신림동) 37.4765282 126.9159734
136 -->  신림신원점 관악구 서울 관악구 신원로 16 (신림동) 37.480802 126.928079
137 -->  신림신화교점 관악구 서울 관악구 신림로 199 (신림동) 37.4755402 126.9362015
138 -->  신림역점 관악구 서울 관악구 신림로 312 (신림동) 37.4822288 126.9301828
139 -->  신림중앙점 관악구 서울 관악구 관천로 52 (신림동) 37.48434719999999 126.9266367
140 -->  신림패션문화점 관악구 서울 관악구 봉천로6길 24 (신림동) 37.4886299 126.9254308
141 -->  인헌점 관악구 서울 관악구 인헌길 17 (봉천동) 37.4747245 126.9670541
142 -->  청룡중앙점 관악구 서울 관악구 쑥고개로 80 (봉천동, 제이빌딩) 37.4791765 126.9452607
143 -->  건대로데오점 광진구 서울 광진구 아차산로30길 8 (자양동) 37.5404164 127.0676076
144 -->  건대스타시티2호점 광진구 서울 광진구 능동로 92 (자양동, 스타시티몰) 지하 2층 201호 37.538557 127.0729616
145 -->  건대스타시티점 광진구 서울 광진구 아차산로 272 (자양동, 더샵스타시티) 37.5378028 127.0726322
146 -->  건대역점 광진구 서울 광진구 아차산로 229 (화양동, 한림타워) 37.5407319 127.069008
147 -->  건대후문점 광진구 서울 광진구 광나루로 416 (화양동, 건회빌딩) 37.54649510000001 127.0755874
148 -->  광나루점 광진구 서울 광진구 아차산로 624 (광장동) 37.5482033 127.107566
149 -->  광진구청점 광진구 서울 광진구 자양로 136 (구의동) 37.53978439999999 127.0834244
150 -->  구의동점 광진구 서울 광진구 아차산로 481 (구의동) 37.5444007 127.092844
151 -->  구의사거리점 광진구 서울 광진구 광나루로 508 (구의동) 37.5447378 127.0859307
152 -->  구의역점 광진구 서울 광진구 구의로 4 (구의동) 37.5382091 127.0892948
153 -->  구의자양로점 광진구 서울 광진구 자양로 251 (구의동) 37.5490121 127.0892921
154 -->  군자역점 광진구 서울 광진구 능동로 290 (능동, 삼일빌딩) 37.5555903 127.0790595
155 -->  동서울터미널점 광진구 서울 광진구 구의동 37.5444007 127.092844
156 -->  뚝섬유원지역점 광진구 서울 광진구 능동로 21 (자양동) 37.5335019 127.0672835
157 -->  세종대후문점 광진구 서울 광진구 군자로 109 (군자동) 37.5528718 127.0719913
158 -->  아차산역점 광진구 서울 광진구 천호대로 663 (구의동) 37.5517919 127.0902248
159 -->  어린이대공원역점 광진구 서울 광진구 광나루로 380 (화양동) 37.5475719 127.071851
160 -->  자양동점 광진구 서울 광진구 자양로 46 (자양동) 37.5322381 127.0859794
161 -->  자양우성점 광진구 서울 광진구 자양번영로 34 (자양동, 제이원하이텔) 37.5327013 127.0758253
162 -->  중곡대원점 광진구 서울 광진구 용마산로 111 (중곡동) 37.5635935 127.0866729
163 -->  중곡신성점 광진구 서울 광진구 용마산로 37 (중곡동, 이안빌딩) 37.598033 127.0940962
164 -->  중곡역점 광진구 서울 광진구 능동로 407 (중곡동) 37.56354400000001 127.0888304
165 -->  중곡중앙점 광진구 서울 광진구 능동로 330 (중곡동) 37.56354400000001 127.0888304
166 -->  가산SKV1점 금천구 서울 금천구 가산디지털1로 171 (가산동) 37.4807298 126.8807007
167 -->  가산그레이트점 금천구 서울 금천구 디지털로9길 32 (가산동) 37.4794904 126.8875315
168 -->  가산대륭19차점 금천구 서울 금천구 가산디지털2로 70 (가산동) 37.4746381 126.8821341
169 -->  가산두산위브점 금천구 서울 금천구 가산로 111 (가산동) 37.4756055 126.8929049
170 -->  가산리더스타워점 금천구 서울 금천구 벚꽃로 286 (가산동) 37.480368 126.8841765
171 -->  가산벽산점 금천구 서울 금천구 벚꽃로 244 (가산동) 37.4766901 126.8858078
172 -->  가산에이스점 금천구 서울 금천구 가산디지털1로 196 (가산동) 37.4829123 126.8811424
173 -->  가산오거리점 금천구 서울 금천구 가산로 155 (가산동, 케이디에스빌딩) 37.4788324 126.8900552
174 -->  가산월드점 금천구 서울 금천구 가산디지털2로 123 (가산동) 37.4787568 126.8787171
175 -->  가산하이엔드10차점 금천구 서울 금천구 가산디지털1로 30 (가산동, 에이스하이엔드타워10) 37.4688003 126.8874748
176 -->  금천롯데마트점 금천구 서울 금천구 시흥대로 291 (독산동, 금천롯데캐슬골드파크3차) 37.4604657 126.8974181
177 -->  독산동쌈지공원점 금천구 서울 금천구 독산로 276 (독산동) 37.4713542 126.9032872
178 -->  독산동점 금천구 서울 금천구 독산로 218 (독산동, 창영빌딩) 37.4663108 126.9019986
179 -->  독산롯데시네마점 금천구 서울 금천구 시흥대로 399 (독산동) 37.469407 126.8974528
180 -->  박미삼거리점 금천구 서울 금천구 시흥대로 150 (시흥동) 37.4476277 126.9036599
181 -->  석수푸르지오점 금천구 서울 금천구 삼성산길 11 (시흥동, 위너스타워) 37.4340959 126.9048311
182 -->  세광교회점 금천구 서울 금천구 독산로 124 (시흥동) 37.4583516 126.9055616
183 -->  시흥동점 금천구 서울 금천구 시흥동 37.4495276 126.9092894
184 -->  시흥사거리점 금천구 서울 금천구 시흥대로63길 8 (시흥동) 37.4550726 126.8991028
185 -->  시흥유통센터점 금천구 서울 금천구 시흥대로 88 (시흥동, 오복빌딩) 37.4418838 126.9039107
186 -->  시흥중앙점 금천구 서울 금천구 금하로 748 (시흥동) 37.4498887 126.91253
187 -->  에이스가산포휴점 금천구 서울 금천구 가산디지털1로 225 (가산동, 에이스 가산 포휴(지식산업센터)) 37.4851258 126.8787246
188 -->  은행나무사거리점 금천구 서울 금천구 금하로 690 (시흥동) 37.4517877 126.9065756
189 -->  공릉역점 노원구 서울 노원구 동일로192길 5 (공릉동) 37.6205232 127.102594
190 -->  공릉중앙점 노원구 서울 노원구 공릉로 146 (공릉동) 37.623032 127.0795563
191 -->  광운대점 노원구 서울 노원구 광운로 29 (월계동) 37.6203303 127.0584239
192 -->  노원KT점 노원구 서울 노원구 노해로 494 (상계동) 37.654511 127.0629986
193 -->  노원사거리점 노원구 서울 노원구 동일로 1393 (상계동) 37.6529411 127.0605151
194 -->  노원역2호점 노원구 서울 노원구 상계로 64 (상계동) 37.6556813 127.0623264
195 -->  노원중앙점 노원구 서울 노원구 노원로 452 (상계동) 37.65686480000001 127.0671073
196 -->  당고개역점 노원구 서울 노원구 상계로 313 (상계동) 37.6708411 127.0803776
197 -->  마들역점 노원구 서울 노원구 동일로 1541 (상계동) 37.6658552 127.0570269
198 -->  상계동점 노원구 서울 노원구 한글비석로52길 8 (상계동) 37.6648833 127.06646
199 -->  상계역사거리점 노원구 서울 노원구 한글비석로 409 (상계동) 1~2층 37.6611267 127.070846
200 -->  상계역점 노원구 서울 노원구 덕릉로 698 (중계동) 37.6510125 127.0799977
201 -->  상계중앙점 노원구 서울 노원구 동일로 1650 (상계동) 37.6754705 127.0555978
202 -->  서울과학기술대점 노원구 서울 노원구 공릉로 208 (공릉동) 37.6282959 127.0777875
203 -->  서울여대점 노원구 서울 노원구 노원로 3 (공릉동) 37.6219864 127.0866205
204 -->  석계역점 노원구 서울 노원구 석계로3길 3 (월계동) 37.61555389999999 127.0643527
205 -->  세이브존노원점 노원구 서울 노원구 한글비석로 57 (하계동, 세이브존) 37.6378658 127.068707
206 -->  수락산역점 노원구 서울 노원구 동일로 1689 (상계동, 하이베라스) 37.67918909999999 127.0549866
207 -->  원자력병원점 노원구 서울 노원구 공릉로46길 6 (공릉동) 37.6268785 127.079495
208 -->  월계이마트점 노원구 서울 노원구 마들로3길 15 (월계동, 월계이마트) 37.62644 127.0619091
209 -->  월계인덕점 노원구 서울 노원구 광운로22길 39 (월계동) 37.6298151 127.0588466
210 -->  월계초교점 노원구 서울 노원구 월계동 37.6282394 127.0567599
211 -->  은행사거리점 노원구 서울 노원구 중계로 201 (중계동) 37.6504487 127.0777705
212 -->  중계롯데우성점 노원구 서울 노원구 노원로22길 70 (중계동) 37.6482086 127.083901
213 -->  중계본동점 노원구 서울 노원구 중계로14바길 2 (중계동) 37.6498756 127.0825982
214 -->  중계브라운스톤점 노원구 서울 노원구 동일로203가길 29 (중계동, 브라운스톤중계) 37.6400147 127.0642892
215 -->  중계점 노원구 서울 노원구 동일로204가길 34 (중계동) 37.6407489 127.0682363
216 -->  중계중앙점 노원구 서울 노원구 덕릉로73길 18 (중계동) 37.6443041 127.086885
217 -->  태릉입구역점 노원구 서울 노원구 공릉로 105 (공릉동, 성종빌딩) 37.6196188 127.0778497
218 -->  하계온천점 노원구 서울 노원구 노원로 257 (하계동) 37.6376443 127.0725093
219 -->  하계을지점 노원구 서울 노원구 공릉로 326 (하계동) 37.6358931 127.0711875
220 -->  덕성여대점 도봉구 서울 도봉구 삼양로 542 (쌍문동) 37.6515728 127.0129899
221 -->  도봉구청점 도봉구 서울 도봉구 도봉로150길 43 (방학동, ESA 아파트) 37.66646739999999 127.0456001
222 -->  도봉보건소사거리점 도봉구 서울 도봉구 해등로 157 (쌍문동) 37.6567708 127.0388206
223 -->  도봉산점 도봉구 서울 도봉구 도봉산길 18 (도봉동) 37.6875339 127.0436705
224 -->  도봉역점 도봉구 서울 도봉구 도봉로 823 (도봉동) 37.6779041 127.0447529
225 -->  도봉중앙점 도봉구 서울 도봉구 도봉로181길 18 (도봉동) 37.684246 127.0448662
226 -->  방학사거리점 도봉구 서울 도봉구 도봉로 677 (방학동) 37.6626035 127.0410331
227 -->  방학역점 도봉구 서울 도봉구 도봉로153길 15 (방학동) 37.67088090000001 127.0349569
228 -->  방학점 도봉구 서울 도봉구 방학로 171 (방학동) 37.6621564 127.0332505
229 -->  방학중앙점 도봉구 서울 도봉구 도당로13길 22 (방학동) 37.6657682 127.0353159
230 -->  선덕고사거리점 도봉구 서울 도봉구 해등로 255 (쌍문동, 에벤에셀아파트) 37.6573677 127.0282385
231 -->  솔밭공원역점 도봉구 서울 도봉구 삼양로 594 (쌍문동, 주함해븐빌) 37.6562302 127.0135377
232 -->  신창점 도봉구 서울 도봉구 덕릉로 235 (창동) 37.638935 127.0380988
233 -->  쌍문동점 도봉구 서울 도봉구 노해로 162 (쌍문동) 37.6488058 127.027282
234 -->  쌍문역점 도봉구 서울 도봉구 도봉로117길 4 (쌍문동) 37.6604615 127.0384369
235 -->  쌍문중앙점 도봉구 서울 도봉구 도봉로 519 (쌍문동) 37.6568841 127.0153062
236 -->  창동대우점 도봉구 서울 도봉구 덕릉로63가길 30 (창동) 37.6435011 127.0387297
237 -->  창동블루핀점 도봉구 서울 도봉구 마들로 550 (창동) 37.6604973 127.0496195
238 -->  창동역점 도봉구 서울 도봉구 마들로11길 65 (창동) 37.6533842 127.0497109
239 -->  창동제일점 도봉구 서울 도봉구 노해로70길 81 (창동) 37.6488482 127.0525691
240 -->  창동중앙점 도봉구 서울 도봉구 노해로63길 78 (창동) 37.6526943 127.0463822
241 -->  창동하나로마트점 도봉구 서울 도봉구 마들로11길 20 (창동, 농협창동유통센타) 37.6548907 127.051721
242 -->  창동학원가점 도봉구 서울 도봉구 해등로16길 61 (창동) 37.6551428 127.0433519
243 -->  창동현대타운점 도봉구 서울 도봉구 도봉로114길 22 (창동) 37.6473664 127.0356805
244 -->  남성역점 동작구 서울 동작구 사당로17가길 13 (사당동) 37.4838017 126.9734321
245 -->  노들점 동작구 서울 동작구 노량진로 200 (노량진동) 37.5128951 126.9479098
246 -->  노량진CTS점 동작구 서울 동작구 노량진로 110 (노량진동) 37.5131999 126.9380239
247 -->  노량진드림스퀘어점 동작구 서울 동작구 노들로2길 7 (노량진동, 노량진 드림스퀘어 복합빌딩) 37.5142788 126.9393867
248 -->  노량진역사점 동작구 서울 동작구 노량진로 지하 130 (노량진동, 9호선 노량진역) 37.51408199999999 126.941687
249 -->  대림성모점 동작구 서울 동작구 시흥대로 658 (신대방동) 37.490357 126.9081079
250 -->  대방역점 동작구 서울 동작구 노량진로 24 (대방동, 한신빌딩) 37.5128738 126.9281981
251 -->  보라매공원점 동작구 서울 동작구 여의대방로 90 (신대방동) 37.496816 126.9166681
252 -->  보라매점 동작구 서울 동작구 보라매로5가길 16 (신대방동, 보라매아카데미타워) 37.491293 126.9240603
253 -->  사당역점 동작구 서울 동작구 동작대로7길 100 (사당동) 37.4771676 126.9775404
254 -->  사당점 동작구 서울 동작구 동작대로 45 (사당동) 37.4807467 126.981502
255 -->  상도역점 동작구 서울 동작구 상도로 277 (상도1동) 37.5027556 126.9483808
256 -->  상도중앙점 동작구 서울 동작구 만양로 17 (상도동) 37.5062272 126.9472075
257 -->  상도파크엘점 동작구 서울 동작구 양녕로 220 (상도동, 상도역 롯데캐슬 파크엘) 37.5007532 126.9465974
258 -->  숭실대점 동작구 서울 동작구 사당로 2 (상도동) 37.4954832 126.9546892
259 -->  신대방삼거리점 동작구 서울 동작구 상도로 78 (대방동) 37.5145775 126.9322895
260 -->  신상도초교점 동작구 서울 동작구 양녕로 183 (상도동) 37.49773340000001 126.9431657
261 -->  이수중앙점 동작구 서울 동작구 사당로 285 (사당동) 37.4846685 126.9791775
262 -->  중앙대점 동작구 서울 동작구 흑석로 79 (흑석동) 37.5070493 126.9584091
263 -->  중앙대후문점 동작구 서울 동작구 흑석로 20 (상도동) 37.5048152 126.9530338
264 -->  총신대입구역점 동작구 서울 동작구 동작대로 119-1 (사당동) 37.48735569999999 126.9818814
265 -->  총신대점 동작구 서울 동작구 사당로16가길 96 (사당동) 1,2층 37.4850934 126.9688033
266 -->  해군회관점 동작구 서울 동작구 여의대방로 194 (대방동) 37.5042619 126.9222618
267 -->  흑석역점 동작구 서울 동작구 현충로 100-1 (흑석동) 37.5076442 126.9647375
268 -->  공덕롯데캐슬점 마포구 서울 마포구 마포대로 109 (공덕동, 롯데캐슬프레지던트) 37.5486019 126.9588345
269 -->  공덕점 마포구 서울 마포구 마포대로8길 15 (공덕동) 37.54870590000001 126.9590957
270 -->  광흥창역점 마포구 서울 마포구 창전로 45 (창전동, 서강한화오벨리스크) 37.5465933 126.9318228
271 -->  대흥역점 마포구 서울 마포구 백범로 100 (대흥동) 37.5474456 126.942358
272 -->  동교중앙점 마포구 서울 마포구 동교로27길 8 (동교동) 37.5587341 126.9229881
273 -->  마포공덕역점 마포구 서울 마포구 새창로 6 (도화동) 37.5420957 126.9504592
274 -->  마포구청점 마포구 서울 마포구 월드컵로 196 (성산동) 37.5644434 126.9061173
275 -->  마포데시앙점 마포구 서울 마포구 독막로 320 (도화동) 37.5397629 126.9484766
276 -->  마포성산시영점 마포구 서울 마포구 월드컵북로 210 (성산동) 37.5608448 126.916841
277 -->  마포점 마포구 서울 마포구 도화길 10 (도화동) 37.5397882 126.9473543
278 -->  망리단길점 마포구 서울 마포구 포은로 81-1 (망원동, S-빌딩) 37.554317 126.9052684
279 -->  망원역점 마포구 서울 마포구 월드컵로 82-1 (서교동) 37.5563756 126.9102193
280 -->  망원중앙점 마포구 서울 마포구 월드컵로 147 (망원동) 37.56077200000001 126.9054366
281 -->  상수역점 마포구 서울 마포구 와우산로 41-1 (상수동) 37.5482483 126.9227812
282 -->  상암DMC점 마포구 서울 마포구 월드컵북로 396 (상암동) 37.579406 126.8904194
283 -->  상암KBS점 마포구 서울 마포구 월드컵북로 375 (상암동) 37.57754000000001 126.89062
284 -->  상암우리기술점 마포구 서울 마포구 월드컵북로56길 9 (상암동) 37.5813878 126.8874436
285 -->  상암한샘점 마포구 서울 마포구 성암로13길 58 (상암동) 37.575698 126.8977264
286 -->  상암홈플러스점 마포구 서울 마포구 월드컵로 240 (성산동) 37.5592762 126.9138751
287 -->  서강대점 마포구 서울 마포구 백범로 34 (신수동) 37.5487203 126.9396907
288 -->  서교동점 마포구 서울 마포구 와우산로29길 70 (서교동) 37.5563622 126.9265897
289 -->  성산점 마포구 서울 마포구 월드컵북로 137 (성산동) 37.5674996 126.9102095
290 -->  성산중앙점 마포구 서울 마포구 성미산로 78 (성산동) 37.56031309999999 126.916664
291 -->  신촌그랑자이점 마포구 서울 마포구 대흥로 183 (대흥동, 신촌그랑자이 상가) 37.5550101 126.9454102
292 -->  신촌로터리점 마포구 서울 마포구 서강로 135 (노고산동) 37.5543865 126.9377806
293 -->  신촌숲아이파크점 마포구 서울 마포구 광성로 17 (신수동, 신촌숲아이파크) 37.5499797 126.934979
294 -->  신촌하나로마트점 마포구 서울 마포구 신촌로 66 (노고산동, 농협중앙회) 37.5560913 126.9331107
295 -->  애오개역점 마포구 서울 마포구 마포대로 208 (아현동) 37.552503 126.9568378
296 -->  오벨리스크점 마포구 서울 마포구 마포대로 33 (도화동, 마포 한화 오벨리스크) 37.5401173 126.9455986
297 -->  한강공원로점 마포구 서울 마포구 망원로 21 (망원동) 37.5563623 126.899403
298 -->  합정LIG점 마포구 서울 마포구 양화로1길 21 (합정동) 37.5495343 126.9103471
299 -->  합정동점 마포구 서울 마포구 양화로6길 90 (합정동) 37.5482369 126.9190799

In [28]:
driver.quit()

In [29]:
cursor.execute("SELECT COUNT(*) FROM coffee_store WHERE brand=2;")
result = cursor.fetchone()[0]
result

745

In [30]:
cursor.execute("SELECT * FROM coffee_store WHERE brand=2 LIMIT 10;")
result = cursor.fetchall()
df = pd.DataFrame(result)
df.columns = [column[0] for column in cursor.description]
df

,id,brand,name,gu_name,address,lat,lng
0,611,2,강남YMCA점,강남구,서울 강남구 논현동,37.51367870000000,127.03171240000000
1,612,2,강남구청역아이티웨딩점,강남구,"서울 강남구 학동로 338 (논현동, 강남파라곤)",37.51655130000000,127.04013910000000
2,613,2,강남논현학동점,강남구,서울 강남구 논현로131길 28 (논현동),37.51518990000000,127.02755390000000
3,614,2,강남대치점,강남구,"서울 강남구 역삼로 415 (대치동, 성진빌딩)",37.50143400000000,127.05232800000000
4,615,2,강남도산점,강남구,서울 강남구 도산대로37길 20 (신사동),37.52228210000000,127.03147990000000
5,616,2,강남세곡점,강남구,"서울 강남구 헌릉로569길 9 (세곡동, 강남지웰파인즈)",37.46697310000000,127.10052620000000
6,617,2,강남율현점,강남구,"서울 강남구 밤고개로21길 8 (율현동, 세곡프라자)",37.47358220000000,127.10783110000000
7,618,2,강남자곡점,강남구,"서울 강남구 자곡로 180 (자곡동, 강남유탑유블레스)",37.47348460000000,127.10309790000000
8,619,2,개포동역점,강남구,"서울 강남구 개포로82길 11 (개포동, 삼우빌딩)",37.48853310000000,127.06744740000000
9,620,2,건설회관점,강남구,서울 강남구 언주로 711 (논현동),37.51630030000000,127.02991230000000

문제 7.

Python 코드에서 다음의 데이터를 쿼리를 사용하여 조회하세요.

- 스타벅스 매장 주요 분포 지역 (매장수가 많은 상위 5개 구이름, 매장 개수 출력)
- 이디야 매장 주요 분포 지역 (매장수가 많은 상위 5개 구이름, 매장 개수 출력)
- 구별 브랜드 각각의 매장 개수 조회 (구이름, 브랜드이름, 매장 개수 출력)
- 구별 브랜드 각각의 매장 개수 조회 (구이름, 스타벅스 매장 개수, 이디야 매장 개수 출력)

제출 7.
- 관련 코드 & 실행 결과 (ipynb)

In [34]:
# 스타벅스 매장 주요 분포 지역 (매장수가 많은 상위 5개 구이름, 매장 개수 출력)
query = """
	SELECT gu_name, COUNT(name) STARBUCKS_Top5 FROM coffee_store
	WHERE brand=1 GROUP BY gu_name
 	ORDER BY STARBUCKS_Top5 DESC LIMIT 5;
"""
cursor.execute(query)
columns = [column[0] for column in cursor.description]
result = cursor.fetchall()
df = pd.DataFrame(result)
df.columns = columns
df

  gu_name  STARBUCKS_Top5
0     강남구              90
1      중구              53
2     서초구              48
3    영등포구              42
4     종로구              40

In [35]:
# 이디야 매장 주요 분포 지역 (매장수가 많은 상위 5개 구이름, 매장 개수 출력)
query = """
	SELECT gu_name, COUNT(name) EDIYA_Top5 FROM coffee_store
	WHERE brand=2 GROUP BY gu_name
 	ORDER BY EDIYA_Top5 DESC LIMIT 5;
"""
cursor.execute(query)
columns = [column[0] for column in cursor.description]
result = cursor.fetchall()
df = pd.DataFrame(result)
df.columns = columns
df

  gu_name  EDIYA_Top5
0     강남구          46
1     강서구          46
2    영등포구          41
3     송파구          40
4     마포구          39

In [36]:
# 구별 브랜드 각각의 매장 개수 조회 (구이름, 브랜드이름, 매장 개수 출력)
query = """
	SELECT s.gu_name, b.name brand, count(s.name) num_of_store
 	FROM coffee_store s, coffee_brand b
	WHERE s.brand=b.id GROUP BY s.gu_name, b.name
 	ORDER BY s.gu_name, b.name DESC;
"""
cursor.execute(query)
columns = [column[0] for column in cursor.description]
result = cursor.fetchall()
df = pd.DataFrame(result)
df.columns = columns
df

   gu_name      brand  num_of_store
0      강남구  STARBUCKS            90
1      강남구      EDIYA            46
2      강동구  STARBUCKS            17
3      강동구      EDIYA            27
4      강북구  STARBUCKS             6
5      강북구      EDIYA            20
6      강서구  STARBUCKS            27
7      강서구      EDIYA            46
8      관악구  STARBUCKS            12
9      관악구      EDIYA            30
10     광진구  STARBUCKS            18
11     광진구      EDIYA            23
12     구로구  STARBUCKS            14
13     구로구      EDIYA            29
14     금천구  STARBUCKS            13
15     금천구      EDIYA            23
16     노원구  STARBUCKS            14
17     노원구      EDIYA            31
18     도봉구  STARBUCKS             7
19     도봉구      EDIYA            24
20    동대문구  STARBUCKS            12
21    동대문구      EDIYA            25
22     동작구  STARBUCKS            11
23     동작구      EDIYA            24
24     마포구  STARBUCKS            36
25     마포구      EDIYA            39
26    서대문구  STARBUCKS            22
27    서대문구      EDIYA            22
28     서초구  STARBUCKS            48
29     서초구      EDIYA            31
30     성동구  STARBUCKS            14
31     성동구      EDIYA            22
32     성북구  STARBUCKS            15
33     성북구      EDIYA            32
34     송파구  STARBUCKS            36
35     송파구      EDIYA            40
36     양천구  STARBUCKS            17
37     양천구      EDIYA            28
38    영등포구  STARBUCKS            42
39    영등포구      EDIYA            41
40     용산구  STARBUCKS            24
41     용산구      EDIYA            14
42     은평구  STARBUCKS            14
43     은평구      EDIYA            29
44     종로구  STARBUCKS            40
45     종로구      EDIYA            34
46      중구  STARBUCKS            53
47      중구      EDIYA            35
48     중랑구  STARBUCKS             8
49     중랑구      EDIYA            30

In [37]:
# 구별 브랜드 각각의 매장 개수 조회 (구이름, 스타벅스 매장 개수, 이디야 매장 개수 출력)
query = """
SELECT gu_name, SUM(brand=1) STARBUCKS, SUM(brand=2) EDIYA FROM coffee_store GROUP BY gu_name;
"""
cursor.execute(query)
columns = [column[0] for column in cursor.description]
result = cursor.fetchall()
df = pd.DataFrame(result)
df.columns = columns
df

   gu_name STARBUCKS EDIYA
0      강남구        90    46
1      강북구         6    20
2      강서구        27    46
3      관악구        12    30
4      광진구        18    23
5      금천구        13    23
6      노원구        14    31
7      도봉구         7    24
8      동작구        11    24
9      마포구        36    39
10    서대문구        22    22
11     서초구        48    31
12     성북구        15    32
13     송파구        36    40
14     양천구        17    28
15    영등포구        42    41
16     은평구        14    29
17     종로구        40    34
18      중구        53    35
19     강동구        17    27
20     구로구        14    29
21    동대문구        12    25
22     성동구        14    22
23     용산구        24    14
24     중랑구         8    30

문제 8.

시각화 프로젝트를 위하여 다음의 규칙으로 쿼리하여 CSV 파일로 저장합니다. (Python 코드로 작업)

- 전체 데이터를 가져오는데, 각 스타벅스 매장별로 이디야 전체 매장정보가 매칭되어 있어야 합니다. (정렬 : s_id, e_id 순)
- 다음의 형식으로 저장되어야 합니다. (브랜드 이름, 칼럼 명 주의)
- 데이터 프레임 출력을 해주세요. 데이터 프레임 미출력시 감점입니다.

제출 8.
- 시각화 프로젝트 관련 코드 (ipynb), 결과 파일 (csv)

In [38]:
query = """
SELECT * FROM
(SELECT s.id s_id, b.name s_brand, s.name s_name, gu_name s_gu, address s_address, lat s_lat, lng s_lng
FROM coffee_store s, coffee_brand b WHERE s.brand=b.id AND s.brand=1) sbuck,
(SELECT s.id e_id, b.name e_brand, s.name e_name, gu_name e_gu, address e_address, lat e_lat, lng e_lng
FROM coffee_store s, coffee_brand b WHERE s.brand=b.id AND s.brand=2) ediya
ORDER BY sbuck.s_id, ediya.e_id;
"""
cursor.execute(query)
columns = [column[0] for column in cursor.description]
result = cursor.fetchall()
df = pd.DataFrame(result)
df.columns = columns
df

,s_id,s_brand,s_name,s_gu,s_address,s_lat,s_lng,e_id,e_brand,e_name,e_gu,e_address,e_lat,e_lng
0,1,STARBUCKS,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동),37.50108700000000,127.04306900000000,611,EDIYA,강남YMCA점,강남구,서울 강남구 논현동,37.51367870000000,127.03171240000000
1,1,STARBUCKS,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동),37.50108700000000,127.04306900000000,612,EDIYA,강남구청역아이티웨딩점,강남구,"서울 강남구 학동로 338 (논현동, 강남파라곤)",37.51655130000000,127.04013910000000
2,1,STARBUCKS,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동),37.50108700000000,127.04306900000000,613,EDIYA,강남논현학동점,강남구,서울 강남구 논현로131길 28 (논현동),37.51518990000000,127.02755390000000
3,1,STARBUCKS,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동),37.50108700000000,127.04306900000000,614,EDIYA,강남대치점,강남구,"서울 강남구 역삼로 415 (대치동, 성진빌딩)",37.50143400000000,127.05232800000000
4,1,STARBUCKS,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동),37.50108700000000,127.04306900000000,615,EDIYA,강남도산점,강남구,서울 강남구 도산대로37길 20 (신사동),37.52228210000000,127.03147990000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
454445,610,STARBUCKS,중화역,중랑구,서울특별시 중랑구 봉화산로 35,37.60170912407773,127.07841136432036,1351,EDIYA,중랑교차로점,중랑구,서울 중랑구 동일로 683 (면목동),37.59144780000000,127.07988210000000
454446,610,STARBUCKS,중화역,중랑구,서울특별시 중랑구 봉화산로 35,37.60170912407773,127.07841136432036,1352,EDIYA,중랑역점,중랑구,서울 중랑구 망우로 198 (상봉동),37.59328500000000,127.07488880000000
454447,610,STARBUCKS,중화역,중랑구,서울특별시 중랑구 봉화산로 35,37.60170912407773,127.07841136432036,1353,EDIYA,중화동점,중랑구,서울 중랑구 동일로129길 1 (중화동),37.60195730000000,127.08662700000000
454448,610,STARBUCKS,중화역,중랑구,서울특별시 중랑구 봉화산로 35,37.60170912407773,127.07841136432036,1354,EDIYA,중화역점,중랑구,"서울 중랑구 동일로 815, 1층",37.60312900000000,127.07888910000000
454449,610,STARBUCKS,중화역,중랑구,서울특별시 중랑구 봉화산로 35,37.60170912407773,127.07841136432036,1355,EDIYA,화랑대역점,중랑구,"서울 중랑구 신내로25가길 2 (묵동, 현동학당)",37.61945060000000,127.08416050000000

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 454450 entries, 0 to 454449
Data columns (total 14 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   s_id       454450 non-null  int64
 1   s_brand    454450 non-null  object
 2   s_name     454450 non-null  object
 3   s_gu       454450 non-null  object
 4   s_address  454450 non-null  object
 5   s_lat      454450 non-null  object
 6   s_lng      454450 non-null  object
 7   e_id       454450 non-null  int64
 8   e_brand    454450 non-null  object
 9   e_name     454450 non-null  object
 10  e_gu       454450 non-null  object
 11  e_address  454450 non-null  object
 12  e_lat      454450 non-null  object
 13  e_lng      454450 non-null  object
dtypes: int64(2), object(12)
memory usage: 48.5+ MB

In [40]:
df.to_csv("./result_data/sql_starbucks_ediya.csv", index=False, encoding="utf-8")

In [ ]:
conn.close()

---